<h2 class="share-title">Share the poll:</h2>
<h1 mat-dialog-title class="poll-title">{{ input.name }}</h1>

<div mat-dialog-content>
  <img
    src="/assets/img/share-the-love.webp"
    height="200px"
    width="200px"
    class="sharing"
    alt="Happy people handrawn graphic"
    />
    <br/>
  Sharing is caring! ✨<br />
  <p class="copy-container">
    <label>Copy poll link </label><poll-link-copy [pollName]="input.name" [pollId]="pollId"></poll-link-copy>
  </p>
  <br />
  @if (_navigator && _navigator.share) {
    <p>
      Or share the way you like: <br />
      <button
        mat-raised-button
        color="primary"
        cdkFocusInitial
        (click)="share()"
        aria-label="Share"
        >
        Share
      </button>
    </p>
  }
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]="true" aria-label="Close">
    Close
  </button>
</div>
