<mat-toolbar color="primary">
  <!-- This fills the remaining space of the current row -->
  <button mat-button (click)="addPoll()" title="Create new poll">
    <mat-icon>add</mat-icon>
  </button>
  <span class="application-name" (click)="goToRoot()">Poll-A-Lot</span>

  <mat-menu #appMenu="matMenu">
    <ng-container *ngIf="user$ | async as user; else showLogin">
        <button mat-menu-item (click)="manage()">Manage polls</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </ng-container>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
  
</mat-toolbar>


<ng-template #showLogin>
  <button mat-menu-item (click)="login()">Login</button>
</ng-template>