.application-name {
  height: 89px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -16px;
  z-index: 1;
}

.application-logo {
  filter: drop-shadow(1px 1px 3px #00000082);

  &-container {
    position: absolute;
    left: calc(50% - 108px);
    transform: translate(-50%, -14px) rotate(-10deg);
    height: 31px;
  }

  position: relative;
  z-index: 2;
  height: 31px;
  width: 31px;
}

.add-new-button {
  z-index: 1;
  color: white;
}

.navigation-menu {
  margin-left: auto;
  z-index: 1;
}

.mat-toolbar {
  button {
    min-width: unset;
  }

  &.mat-primary {
    // background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 37%, #7092e6 100%);

    color: white;
  }
}

.granimate {
  background: linear-gradient(
    292deg,
    #662452,
    #ac32e4,
    #d9c6ee,
    #5987e5,
    #7918f2,
    #eecafd,
    #64d3e3,
    #7092e6
  );
  background-size: 1000% 1000%;

  -webkit-animation: gradient 120s ease infinite;
  -moz-animation: gradient 120s ease infinite;
  animation: gradient 120s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
