.footer {
    width: 100%;
    left: auto;
    right: auto;
    text-align: center;
    font-size: 0.6em;
    margin-top: 10px;
    margin-bottom: 7px;

    span {
        cursor: pointer;
    }

    a {
        color: black;
        text-decoration: underline;
    }
}