.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: auto;
    right: auto;
    text-align: center;
    font-size: 0.6em;
    padding: 3px;

    span {
        cursor: pointer;
    }
}