<div
  class="voter-container cursor-pointer"
  [class.voted]="hasVoted"
  [class.voting-locked]="locked"
  [ngClass]="'size-' + size"
  (click)="clicked()"
  matRipple
  matRippleColor="#d9c6ee"
  [matRippleDisabled]="locked"
>
  <div class="votes" [matTooltip]="pollItem.voters | voters : 'Voters: ' : true">
    <span>{{ pollItem.voters.length }}</span>
  </div>
  <div class="button-container">
    <div color="primary" class="favorite">
      <mat-icon class="heart-icon">favorite</mat-icon>
    </div>
  </div>
</div>
