<div
  class="voter-container"
  [class.cursor-pointer]="!pointVoting"
  [class.voted]="isVoted"
  [class.voting-locked]="locked"
  [class.point-voting]="pointVoting"
  [ngClass]="'size-' + size"
  tabindex="0"
  role="button"
  (click)="clicked()"
  (keydown.enter)="clicked()"
  (keydown.space)="clicked(); $event.preventDefault()"
  matRipple
  matRippleColor="#d9c6ee"
  [matRippleDisabled]="locked || pointVoting"
>
  @let voters = voters$ | async;
  <div
    class="votes"
    [class.votes-filtered]="voters.length !== pollItem.voters.length"
    [matTooltip]="voterTooltip(voters)"
  >
    <span>{{ votesTotal(voters) }}</span>
  </div>
  <div class="button-container">
    @if (pointVoting) {
      <ng-content select="point-vote-stepper"></ng-content>
    } @else {
      <div color="primary" class="favorite">
        <mat-icon class="heart-icon">favorite</mat-icon>
      </div>
    }
  </div>
</div>
