# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# Assets copied in at build time (see package.json's build script)
lib/index.template.html
lib/watermark.svg

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
