@let awards = awards$ | async;
@let winsCount = wonCount$ | async;
@let nominationsCount = nominatedCount$ | async;
@let showAll = showAll$ | async;
@if (awards.length > 0) {
  @if (!showAll) {
    <div
      class="movie-awards-container small flex"
      (click)="showAll$.next(true)"
    >
      @if (winsCount > 0) {
        <div class="flex">
          <h3>
            <mat-icon class="award-icon">emoji_events</mat-icon>Won
            {{ winsCount }} Oscars
          </h3>
          <div class="nominations-count">
            {{ nominationsCount }} nominations total
          </div>
        </div>
      } @else {
        <h3>
          <mat-icon
            class="award-icon material-icons-outlined"
            aria-hidden="true"
            >emoji_events_outline
          </mat-icon>
          Nominated for {{ nominationsCount }} Oscars
        </h3>
      }
      <div class="read-more cursor-pointer">Read more &gt;</div>
    </div>
  } @else {
    <div class="movie-awards-container">
      <h3>
        <mat-icon
          class="award-icon"
          aria-hidden="true"
          [class.material-icons-outlined]="winsCount === 0"
          >{{
            winsCount > 0 ? "emoji_events" : "emoji_events_outline"
          }}</mat-icon
        >
        Oscar Awards & Nominations
      </h3>

      <div class="award-header">
        <div class="award-year">{{ awards[0].year }}</div>
        <div class="award-summary">
            @if (winsCount) {
            <div class="wins">Won: {{ winsCount }}</div>
            }
            @if (nominationsCount) {
            <div class="nominations">Nominated: {{ nominationsCount }}</div>
            }
        </div>
      </div>
      @for (award of awards; track award.category) {
        @if (award.won) {
          <ng-container
            [ngTemplateOutlet]="awardTemplate"
            [ngTemplateOutletContext]="{ award: award }"
          ></ng-container>
        }
      }
      @for (award of awards; track award.category) {
        @if (!award.won) {
          <ng-container
            [ngTemplateOutlet]="awardTemplate"
            [ngTemplateOutletContext]="{ award: award }"
          ></ng-container>
        }
      }

      <button
        mat-button
        class="show-more cursor-pointer"
        (click)="showAll$.next(false)"
      >
        Show less
      </button>
    </div>
  }
}

<ng-template #awardTemplate let-award="award">
  <div class="award-details" [class.won]="award.won">
    <mat-icon
      class="award-icon"
      aria-hidden="true"
      [class.material-icons-outlined]="!award.won"
      >{{ award.won ? "emoji_events" : "emoji_events_outline" }}</mat-icon
    >
    <div class="award-category">
      {{ award.won ? "" : "Nominated: " }}{{ award.category }}
    </div>
    <div class="award-nominees">
      @for (nominee of award.nominees; track nominee; let last = $last) {
        {{ nominee }}
        @if (!last) {
          <span>, </span>
        }
      }
    </div>
  </div>
</ng-template>
