.container {
  font-family: "Product Sans";
  padding: 30pt;
  font-size: 1.5em;
  text-align: center;

  button {
    font-family: "Product Sans";
  }

  .poll-a-lot-header {
    margin: 20px auto;
    max-width: 400px;
    max-height: 30vh;
    min-height: 256px;
  }
}
