:host {
  mat-card {
    --mdc-elevated-card-container-shape: 0 0 5px 5px;
    --mdc-elevated-card-container-color: #100c29;
  }
}

.container {
  font-family: "Product Sans";
  padding: 30pt;
  font-size: 1.5em;
  font-size: min(1.5em, 3.2vh);
  text-align: center;

  button {
    font-family: "Product Sans";
  }

  .poll-a-lot-header {
    margin: 20px auto;
    max-width: 400px;
    max-height: 26vh;
  }
}

.now-playing {
  // margin-left: -40px;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 20px;
  position: relative;

  h2 {
    font-size: min(1.5em, 8vw);
  }

  &-container {
    background: #0f0c29;
    color: whitesmoke;
    width: calc(100% + 2 * 40px);
    position: relative;
    left: -40px;
    padding: 0 0 30px;
    margin-bottom: -40px;
    animation: pl-raise-in 1200ms ease 400ms backwards;
    overflow: hidden;
    // margin-top: 16px;
  }

  &-movie {
    margin: 0 14px 0 0;
  }

  .right-edge {
    position: absolute;
    right: -125px;
    height: calc(100% + 15px);
    top: -15px;
    width: 200px;
    background-image: linear-gradient(to right, transparent, var(--mdc-elevated-card-container-color) 50%);
    z-index: 2;
  }
}

$anim-duration: 5; // in seconds
$anim-speed: 0.65; // in seconds

:host {
  --btn-bg: transparent; // #333
  --btn-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);
  --btn-text-color: #f4f4f4;

  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.2);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
  --shine-transition: all #{$anim-speed}s ease-in-out;
}


.btn {
  position: relative;
  overflow: hidden; // debug

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
  }

  &-shine {
    &::before {
      animation: shine #{$anim-duration}s ease-in-out infinite;
    }
  
    padding: 16px 24px;
    text-align: center;
  }
}

@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }
  #{calc($anim-speed / ($anim-duration + $anim-speed) * 100%)},
  100% {
    left: 100%;
    transition-property: left;
  }
}

@keyframes pl-drop-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes pl-raise-in {
  from {
    opacity: 0;
    transform: translateY(+100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.header-container {
  width: calc(100% + 2 * 20px);
  position: relative;
  left: -40px;
  top: -40px;
  background-image: url("/assets/img/movie-theater.webp");
  background-size: cover;
  color: whitesmoke;
  padding: 50px 20px 40px;

  img {
    width: 40%;
  }

  .title-text {
    text-align: left;
    font-size: min(7.5vw, 50px);
    margin: 0;
  }

  .sub-text {
    font-size: 18px;
    text-align: left;
  }
}

.middle-container {
  margin: -40px -40px 0;
  padding: 40px;

  movie-search-input {
    position: relative;
    top: 10px;
  }
}

.recent-poll-container {
  animation: pl-drop-in 1200ms ease 400ms backwards;
  min-height: 57px;
}

.create-btn {
  --mdc-protected-button-label-text-size: 1em;
  --mdc-text-button-container-shape: 100px;
  --mdc-protected-button-container-shape: 100px;
  height: 2em;
  width: fit-content;
  padding: 0 40px;
  margin: 10px 40px;
}

.lawrencium {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.recent-poll {
  & > div {
    animation: pl-drop-in 1200ms ease 400ms backwards;
  }
  
  font-size: 16px;
  min-height: 49px;
  align-content: flex-end;

  &-title {
    text-decoration: underline;
  }
}