<mat-card class="container">
  <img
    class="poll-a-lot-header"
    src="/assets/img/poll-a-lot-movie-header.svg"
    alt="Popcorn, movie tickets and other movie related graphics"
    />
  <p>
    <!-- 🍹🍿🎬🌴📺👾🎉<br /> -->
    Easily create polls of movies, TV series or just about anything and share
    them with you friends.<br />Make choosing easy with random draw!<br /><br />
    Yay! 👏
  </p>
  <button
    mat-raised-button
    color="primary"
    (click)="createPoll()"
    aria-label="Create poll"
    >
    Create poll
  </button>
  @if (recentPolls$ | async; as recentPolls) {
    @if (recentPolls.length > 0) {
      <div class="recent-poll-container">
        <div class="continue-text">.. or continue with:</div>
        @for (poll of recentPolls.slice(0, 1); track poll) {
          <div>
            <div>
              <span
                class="recent-poll-title cursor-pointer"
                (click)="navigateToPoll(poll)"
                >
                {{ poll.name }}
              </span>
            </div>
          </div>
        }
      </div>
    }
  }
</mat-card>
