$top-block-height: 60vh; //clamp(282px, 55vh, max(100vw, 420px));
$header: 56px;

:host {
  mat-card {
    --mat-card-elevated-container-shape: 0 0 5px 5px;
    --mat-card-elevated-container-color: #100c29;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@mixin posterSize($percentage, $header_, $container-height) {
  .popular-movie {
    $posterHeight: calc((100vh - #{$header_} - 5px - (100vh - #{$container-height})) * $percentage);
    $posterWidth: calc(2 / 3 * $posterHeight);
    width: $posterWidth;
    height: $posterHeight;
  }
}

@mixin blockHeights($top-block-height_, $font-multiplier) {
  .top-block {
    height: calc(100vh - #{$header} - (100vh - #{$top-block-height_}));
  }
  .middle-block {
    min-height: calc(100vh - #{$header} - #{$top-block-height_});
  }

  .popular-movies-container .scroll-container-0 {
    @include posterSize(0.3, $header, $top-block-height_);
  }
  .popular-movies-container .scroll-container-1 {
    @include posterSize(0.5, $header, $top-block-height_);
  }
  .popular-movies-container .scroll-container-2 {
    @include posterSize(0.2, $header, $top-block-height_);
  }

  $middle-font-size: calc((100vh - #{$header} - (100vh - #{$top-block-height_})) * #{$font-multiplier});

  .header-container .middle-block {
    .title-text {
      font-size: calc(2 * #{$middle-font-size});
    }

    .sub-text {
      font-size: calc(1.01 * #{$middle-font-size});
    }
    .recent-poll {
      font-size: calc(1 * #{$middle-font-size});
    }
  }
}

.container {
  font-family: "Product Sans";
  padding: 30pt;
  font-size: 1.5em;
  font-size: min(1.5em, 3.2vh);
  text-align: center;

  button {
    font-family: "Product Sans";
  }

  .poll-a-lot-header {
    margin: 5px;
    height: clamp(69px, 20vw, 26vh);
    width: auto;
    object-fit: contain;
  }
}

.now-playing {
  // margin-left: -40px;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 20px;
  position: relative;

  h2 {
    font-size: min(1.5em, 8vw);
  }

  &-container {
    background: #0f0c29;
    color: whitesmoke;
    width: calc(100% + 2 * 40px);
    position: relative;
    left: -40px;
    padding: 0 0 30px;
    animation: pl-raise-in 1200ms ease 400ms backwards;
    overflow: hidden;
  }

  &-movie {
    margin: 0 14px 0 0;
  }

  &-row {
    position: relative;
      @starting-style {
        opacity: 0;
      }

    .fade {
      position: absolute;
      height: calc(100% + 15px);
      top: -15px;
      width: 0;
      background-image: linear-gradient(to right, transparent 0 1%, var(--mat-card-elevated-container-color));
      z-index: 2;
      width: max(10vw, 70px);
      transition: opacity 200ms ease-in;

      &.left-side {
        left: 0;
        background-image: linear-gradient(to left, transparent 0 1%, var(--mat-card-elevated-container-color));
      }

      &.right-side {
        right: 0;
      }
    }

    .leaving {
      opacity: 0;
      transition:
        opacity 500ms ease-out,
        transform 500ms ease-out;
    }
  }
}

$anim-duration: 5; // in seconds
$anim-speed: 0.65; // in seconds

:host {
  --btn-bg: transparent; // #333
  --btn-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);
  --btn-text-color: #f4f4f4;

  --shine-degree: 120deg;
  --shine-color: rgba(255, 255, 255, 0.2);
  --shine-effect: linear-gradient(
    var(--shine-degree),
    transparent,
    var(--shine-color),
    transparent
  );
  --shine-transition: all #{$anim-speed}s ease-in-out;
}


.btn {
  position: relative;
  overflow: hidden; // debug

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
  }

  &-shine {
    &::before {
      animation: shine #{$anim-duration}s ease-in-out infinite;
    }
  
    padding: 16px 24px;
    text-align: center;
  }
}

@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }
  #{calc($anim-speed / ($anim-duration + $anim-speed) * 100%)},
  100% {
    left: 100%;
    transition-property: left;
  }
}

@keyframes pl-drop-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes pl-raise-in {
  from {
    opacity: 0;
    transform: translateY(+100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}


.background-image {
  background-image: url(/assets/img/movie-theater.webp);
  background-size: cover;
  width: 100%;
  position: relative;
  left: -20px;
  top: -20px;
  right: -20px;
  padding: 15px 20px 15px;
  z-index: 2;
}

.middle-block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .flex {
      justify-content: center;
      align-items: center;
  }

  .flex-column {
    max-width: 290px;
  }
}

.header-container {
  width: calc(100% + 2 * 20px);
  position: relative;
  left: -40px;
  color: whitesmoke;
  padding: 17px 20px 0px;
  margin-bottom: -20px;
  overflow: hidden;

  img {
    width: 40%;
  }

  .title-text {
    text-align: left;
    line-height: 1.15em;
    margin: 0;
  }

  .sub-text {
    text-align: left;
    margin: 0.8em 0;
  }
}

.middle-container {
  margin: -40px -40px 0;
  padding: 40px;
}

.recent-poll-container {
  animation: pl-drop-in 1200ms ease 200ms backwards;
  min-height: 57px;
}

.create-btn {
  --mat-button-protected-label-text-size: 1em;
  --mat-button-text-container-shape: 100px;
  --mat-button-protected-container-shape: 100px;
  height: 2em;
  width: fit-content;
  padding: 0 40px;
  margin: 10px 40px;
}

.lawrencium {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.recent-poll {
  & > div {
    animation: pl-drop-in 1200ms ease 400ms backwards;
  }
  min-height: 49px;

  &-title {
    text-decoration: underline;
  }
}

.popular-movies-container {
  width: calc(100% + 62px);
  overflow: hidden;
  margin: 0 0 0 -31px;
  padding: 5px 0;
  position: relative;
  top: -15px;

  .popular-movie {
    margin: 0 3px;
  }

  .scroll-container {
    display: flex;
    position: relative;

    &-0 {
      --direction: scroll-left;
      --marquee-speed: calc(60s * 4);
      transform: rotate(-2deg);

      .scroll {
        animation: scroll-left var(--marquee-speed) linear infinite;
      }
    }

    &-1 {
      --direction: scroll-right;
      --marquee-speed: calc(60s * 6); //6
      transform: rotate(5deg);
      z-index: 5;

      .scroll {
        animation: scroll-right var(--marquee-speed) linear infinite;
      }
    }

    &-2 {
      --direction: scroll-left;
      --marquee-speed: calc(60s * 7);
      transform: rotate(-1deg);
      z-index: 4;

      .scroll {
        animation: var(--direction) var(--marquee-speed) linear infinite;
        animation: scroll-left var(--marquee-speed) linear infinite;
        // animation: scroll-left var(--marquee-speed) linear infinite;
      }
    }

    .scroll-secondary {
      transform: translateX(-100%);
      animation-delay: calc(var(--marquee-speed) / 2)s;
    }
  }

  .scroll {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
  }

  &.scroll-secondary {
    transform: translateX(100%);
    animation-delay: 15s; 
  }

  .fade {
    position: absolute;
    background: linear-gradient(90deg, #000, transparent 90%, transparent);
    inset: 0;
    z-index: 8;
    width: 10vw;
    left: 0;

    &.right {
      transform: rotate(180deg);
      transform-origin: center center;
      left: unset;
      right: 0;
    }
  }
}

@keyframes scroll-left {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-100%);}
}

@keyframes scroll-right {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0%);}
}

@keyframes loop {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-50%);}
}

movie-search-input {
    position: sticky;
    z-index: 10;
    top: 0;
    right: 0;
    margin-top: 10px;
    width: 100%;
    justify-content: right;
    display: flex;

    &::ng-deep {
      div.container {
        right: -25px;
        top: 10px;
      }
    }
}

@include blockHeights($top-block-height, 0.038);

@media(max-width: 410px) {
  @include blockHeights(60vh, 0.033);
}

@media(min-width: 600px) {
  @include blockHeights(55vh, 0.045);
}

@media (min-aspect-ratio: 1/1) {
  // Middle block into horizontal layout
  @include blockHeights(65vh, 0.04);

  .middle-block .flex {
    flex-direction: row;
  }

  .middle-block .flex-column {
    max-width: none;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .header-container .middle-block {
    .title-text {
      white-space: nowrap;
    }

    .sub-text {
      max-width: 350px;
    }

    img.poll-a-lot-header {
      height: clamp(69px, 20vw, 10vh);
    }
  }
}