// m-size poster
$posterWidth: min(35vw, 170px);
$posterHeight: calc(3 / 2 * $posterWidth);

:host {
  --mat-expansion-container-background-color: transparent;
}

@keyframes pl-drop-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.loading.movie-dialog {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .loading-image.poster-mockup {
    z-index: 2;
    border-radius: 6px;
    min-width: $posterWidth;
    width: $posterWidth;
    min-height: $posterHeight;
    position: relative;
    margin-top: 20px;
  }

  .loading-main-text.tagline {
    margin-top: 35px;
    width: 100%;
  }

  .loading-movie-score {
    position: absolute;
    top: -15px;
    right: -15px;
  }

  .padding-24 {
    padding: 0 24px;
  }

  .movie-dialog-content {
    background-color: white;
    margin-top: -19px;
  }

  .backdrop {
    min-height: calc(9 / 16 * min(450px, 90vw));
    margin: 0;
    width: 100%;
    position: relative;
  }

  .curve-overflow {
    width: 100%;
    margin: 0;
    position: relative;
    top: -26px;
    min-height: 29px;
  }

  .movie-details {
    .loading-main-text {
      height: 20px;
    }
  }

  .loading-sub-text.title {
    height: 38px;
    width: 95%;
  }

  .sub-title {
    height: 24px;
  }

  .movie-details-1 {
    margin-top: 20px;
    margin-left: 15px;
    flex-grow: 1;
    .loading-main-text:nth-child(even) {
      height: 20px;
      margin-top: 10px;
    }

    .loading-main-text:nth-child(odd) {
      height: 15px;
      margin-bottom: 10px;
      width: 80%;
    }
    .loading-btn {
      width: 43px;
      height: 18px;
      margin-right: 3px;
    }
  }

  .loading-btn.voter-btn {
    height: 42px;
    width: calc(100% - 16px);
    margin-bottom: 5px;
    border-radius: 8px;
  }

  .buttons {
    margin-bottom: 5px;
  }

  .button-container {
    position: absolute;
    top: calc(85vh - 75px);
    padding: 9px 0;
    background: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 4;

    .loading-main-text {
      margin: 0 5px;
    }
  }
}

.loading-main-text.sub-title {
  height: 15px;

  &:first-of-type {
    margin-bottom: 7px;
  }

  &:last-of-type {
    margin-bottom: 23px;
  }
}

.loading-main-text.tagline {
  height: 20px;
}

.width-75 {
  width: 75%;
}

.width-35 {
  width: 35%;
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 2em;

    position: relative;
    top: -12px;
    z-index: 15;
  }

  .original-title {
    font-size: 0.75em;

  }
}

div.dialog-content {
  max-width: 450px;
  max-height: unset;
  font-family: "Product Sans";
  background-color: white; // to reduce below content flashing
}

.flex {
  display: flex;

  &-column {
    display: flex;
    flex-direction: column;
  }
}

.credits {
  padding: 0 5px;
  font-size: 0.85em;

  .role {
    font-weight: 600;
  }
}

.movie-details-right {
  padding-left: 12px;
  flex-grow: 1;
}

.poster-container {
  // margin-bottom: 19px;
  z-index: 1;
}



.backdrop {
  background-size: contain;
  padding-bottom: 20px;
  transition: opacity 0.7s;
  border-radius: 3px 3px 0 0;
  z-index: 11;
  height: calc(9 / 16 * min(450px, 90vw));
  width: calc(100% + 2 * 24px);
  margin: -20px -24px 0 -24px;
  

  &.loading-image {
    height: calc(calc(9 / 16 * min(450px, 90vw) - 20px));
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 20px;
  }

  &:not(.ng-lazyloaded):not(.loading-image) {
    opacity: 0;
  }

  &.ng-lazyloaded {
    opacity: 1;
  }
}

.bd {
  &-selector {
    &s {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      top: calc(9 / 16 * min(450px, 90vw) - 54px);
      height: 50px;
    }

    margin: 0 3px 22px;
    border: solid 1px #554a4a8c;
    border-radius: 11px;
    width: 7px;
    height: 7px;
    transition: all 1s;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    opacity: 0.5;

  }

  &-selected {
    width: 20px;
  }
}

.curve-overflow {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: -28px -24px 0 -24px;
  height: 37px;
  position: relative;
  top: -7px;
  z-index: 12;
  background: white;
}

.movie-info {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.director {
  font-family: "Product Sans Bold";
}

.subtitle {
  display: flex;
  flex-wrap: wrap;
  margin-top: -5px;
  margin-bottom: 5px;

  .basics {
    line-height: 0.85em;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 0 20px;
    font-size: 0.85em;
  }
}

.separator {
  padding: 0 4px;
}

.movie-ratings {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -29px; // to reduce unnecessary 2nd line wrapping
  padding-bottom: 12px;
  min-height: 25px;

  .movie-rating {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-family: "Product Sans Bold";
    border-radius: 2px;
    background-color: #6cd577;
    padding: 2px 5px;
    margin: 3px;
    line-height: 1em;
    height: 15px;
    max-height: 15px;

    &.imdb {
      background-color: #f5c532;
      color: black;
    }

    &.meta-critic {
      color: white;
      &.green {
        background-color: #6acc34;
      }

      &.yellow {
        background-color: #facc33;
      }

      &.red {
        background-color: #ea3f33;
      }
    }

    &.rotten-tomatoes {
      background-color: #ea3f33;
      color: white;
    }

    &.letterboxd-rating {
      background-color: #202830;
      color: white;

      svg {
        margin-left: -2px;
      }
    }

    mat-icon {
      padding-left: 2px;
    }

    .rating-max {
      position: relative;
      bottom: 1px;
      font-size: 0.7em;
      padding: 0 0 0 1px;
      margin-right: -2px;
      white-space: nowrap;
    }
  }
}

.more-info-panel-body {
  font-family: "Product Sans";
}

.mid-title {
  margin: 20px 0 10px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(90deg, #3f2b96 0%, #a8c0ff 100%);
  color: white;
}

.countries {
  .country {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .country-flag {
    width: 18px;
    margin-right: 3px;
  }
}

.crew {
  .contribution-type {
    margin: 15px 0 0px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .contribution-name.comma {
    padding-right: 4px;
  }
}

.production-company.comma {
  padding-right: 4px;
}

.movie-trailer {
  aspect-ratio: 16/9;
  border: none;
  width: 100%;
}

.news a, .story a {
  color: #43309a;  
}

.story {
  margin-bottom: 20px;

  .content {
    max-height: 500px;
    overflow: hidden;
    position: relative;

    &.open {
      max-height: unset;
    }

    &:not(.open) {
      &:before {
        right: 0;
        content: "";
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0px;
        background: linear-gradient(transparent 0%, #fff 100%);
      }
    }
  }
  .image {
    width: 100%;
  }

  .title {
    margin: 25px 0 15px;
    line-height: 1em;
  }

  .author {
    display: flex;
    align-items: center;

    img {
      width: 20px;
      margin-right: 10px;
      border-radius: 50%;
    }
  }
}

.news {
  margin: 30px 0 15px;

  & > .flex-column {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    margin: 0 0 20px;
    padding: 10px 0 20px;
    border-radius: 10px;
    color: white;
    overflow: hidden;

    & > *:not(.image) {
      padding: 0 15px;
    }
  }

  .short-description {
    margin: 15px 0 10px;
    font-style: italic;
  }

  .image {
    width: 100%;
    margin-top: -10px;
  }

  .title {
    margin: 30px 0 0px;
    line-height: 1em;
  }

  a {
    word-break: break-all;
  }
}

.genres {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 5px 9px;

  .genre {
    background-image: linear-gradient(225deg, #eecafd 0%, #64d3e3 100%);
    margin: 0 3px 5px;

    --mdc-chip-label-text-size: 10px;
    --mdc-chip-label-text-color: #fff;
    --mdc-chip-elevated-container-color: transparent;
    --mdc-chip-container-shape-radius: 100px;
    --mdc-chip-label-text-font: #959595;
    --mdc-chip-container-height: 18px;
  }
}

.show-more {
  left: 50%;
  transform: translate(-50%, 0);
}

.cast {
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 2 * 15px);

  &-member {
    min-width: 76px;
    line-height: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 6px;
    overflow: hidden;
    max-height: 140px;
  }

  &-profile-picture {
    min-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  }

  .name {
    font-size: 0.75em;
  }

  .character {
    font-size: 0.75em;
    font-style: italic;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.more-at {
  font-size: 0.7em;
  display: flex;
  margin-bottom: 50px;

  mat-chip-set {
    margin-left: 10px;
  }
}

.tagline {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.3em;
  margin-top: 12px;
  margin-bottom: 10px;
}

.cast {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding-bottom: 20px;
}

// Gradient button

.gradient-button {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(145deg, #8320e9, #36cddc) border-box;
  color: #313149;
  padding: 8px 45px;
  width: 100%;
  display: flex;
  border: 3px solid transparent;
  border-radius: 8px;
  display: inline-block;
  font-size: 1em;
  text-align: center;
  color: #5e12ad;
  transition: all 1s;

  &.has-voted {
    background: linear-gradient(145deg, #8320e9, #36cddc);
    padding: 6px 45px 14px;
    border: unset;
    color: white;
  }

  .heart-icon {
    font-size: 18px;
    height: 16px;
  }

  .click-to-unvote {
    text-transform: uppercase;
    position: absolute;
    font-size: 0.6em;
    left: 50%;
    transform: translate(-50%, 19px);
  }

  &.voting-locked {
    color: #7a7a7a;
    background: linear-gradient(#f4f4f4, #f4f4f4) padding-box, linear-gradient(145deg, #939393, #bdbdbd) border-box;
    cursor: not-allowed;
  }
}

.suggest-movie-btn {
  width: unset !important;
  height: unset;
  white-space: unset;
  margin: 20px auto 0 !important;

  svg {
    margin-right: 5px;
  }
}

.voter-list {
  text-transform: uppercase;
  font-size: 0.6em;
  text-align: center;
  width: 100%;
  padding: 9px 0 0;
}

.movie-reactions {
  display: flex;
  margin: 10px 0 20px;

  .reaction {
    font-size: 0.85em;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &:first-child {
      border-top-left-radius: 8px;
      //   border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
      //   border-bottom-right-radius: 8px;
    }
  }
}

.overview-text {
  text-align: justify;
}

textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #d9c6ee;
  border-radius: 4px;
  background-color: #d9c6ee47;
  font-size: 12px;
  resize: none;
  width: 100%;
  margin: 15px 0 5px;
}

.description {
  font-family: "Fira Sans", sans-serif;
  margin: 11px 5px;
  line-height: 23px;
  word-break: break-word;

  a.outside-link {
    background: #b9b6ec;
    color: white;
    padding: 2px 7px;
    border-radius: 99999px;
  }

  & > span {
    padding: 0 3px;
  }
}

.description-button {
  align-self: center;
  --mdc-protected-button-container-shape: 26px;
}

$poster-base-unit: min(95vw, 472px);

.recommendation {
  position: relative;
  height: calc((#{$poster-base-unit} / 3 - 15px) * 3 / 2);
  max-width: 32%;
  margin-top: 4px;

  &s {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;

    &::after {
      content: "";
      //   flex: auto;
      width: calc(#{$poster-base-unit} / 3 - 20px);
    }
  }

  &-poster {
    width: calc(#{$poster-base-unit} / 3 - 20px);
    border-radius: 6px;
    margin: 2px;
  }
}

.available-short-container {
  margin-top: -1px;
  position: relative;
  top: -8px;
  height: 65px;
}

.available-short {
  font-size: 0.7em;
  line-height: 1.2em;
  min-width: $posterWidth;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background: linear-gradient(145deg, #8320e9, #36cddc);
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 10px 8px;
  box-sizing: border-box;

  animation: pl-drop-in 1200ms ease 400ms backwards;

  .flex {
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .watch-provider-image {
    width: 25px;
    height: 25px;
  }

  .text {
    padding-left: 10px;
  }

  .label {
    font-family: "Product Sans Bold";
  }

  & > .border-frame {
    background: linear-gradient(145deg, #8320e9, #36cddc);
    filter: blur(5px);
    width: calc(100% + 0px);
    height: 42px;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 4px;
  }
}

.watch-providers {
  display: flex;
  flex-wrap: wrap;

  .watch-provider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px 4px;

    .name {
      font-size: 0.5em;
    }
  }
}

.justwatch-credit {
  margin: 15px 0;
  font-size: 0.8em;
  font-family: "Product Sans";
}

.watch-provider-image {
  height: 40px;
  width: 40px;
  border-radius: 20%;
  background-size: contain;
}

.not-available {
  font-size: 0.9em;
  margin: 16px 0;
  font-family: "Product Sans";
  display: flex;
  flex-direction: column;
}

h1.title {
  margin: 0;
  line-height: 1em;
}

.extra-info {
  font-size: 0.85em;
  line-height: 1.1em;
  text-transform: uppercase;
}

mat-expansion-panel.mat-expansion-panel {
  margin: 10px -20px 0;
  box-shadow: unset;

  .mat-expansion-panel-header .mat-expansion-panel-header-title {
    color: rgba(0, 0, 0, 0.6);
  }

  .mat-expansion-panel-header {
    padding: 10px 15px;
  }
}

.crew-member {
  line-height: 1.1em;
  padding: 0 0 15px 0;

  .name {
    font-family: "Product Sans Bold";
  }
}

.crew-job {
  font-size: 0.7em;
}

.spinner-container {
  width: 100px;
  height: 100px;
}

.relative-container {
  position: relative;
}

.absolute-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: right;
  left: 0;
  top: 0;
}

.watch-country {
  // margin-left: auto;
  // transform: scale(0.75);
  margin-left: -5px;

  &::ng-deep {
    .mat-mdc-form-field-focus-overlay {
      opacity: 0 !important;
    }

    .mat-mdc-text-field-wrapper {
      background-color: unset; //#f5f0ff;
      height: 43px;
      border-radius: 6px;
    }

    .mat-mdc-form-field-infix {
      padding-top: 16px;
      padding-bottom: 11px;
      min-height: 43px;
    }

    .mdc-floating-label.mat-mdc-floating-label {
      top: 23px;
    }
  }
}

.vhs {
  max-height: 20vh;
  max-width: 400px;
  margin: auto 10px;

  &-container {
    display: flex;
    justify-content: center;
  }
}

h2 {
  font-size: 20px;
}

.add-new-item-btn {
  margin: 10px auto 15px;
  width: 200px;
}

// Comma Logic

.comma:not(:first-child) {
  margin-left: -0.3em;
}

.comma:first-child:empty ~ .comma:not(:empty) {
  margin-left: 0;
}

.comma:first-child:empty ~ .comma:not(:empty) ~ .comma:not(:empty) {
  margin-left: -0.3em;
}

.comma:empty {
  display: none;
}

.comma:not(:first-child):before {
  content: ", ";
}

.comma:empty + .comma:not(:empty):before {
  content: "";
}

.comma:not(:empty) ~ .comma:empty + .comma:not(:empty):before {
  content: ", ";
}

.service-chip.mat-mdc-chip {
  --mdc-chip-label-text-size: 11px;
  --mdc-chip-label-text-color: #959595;
  --mdc-chip-elevated-container-color: transparent;
  --mdc-chip-container-shape-radius: 2px;
  --mdc-chip-outline-width: 1px;
  --mdc-chip-label-text-font: #959595;
  --mdc-chip-container-height: 18px;
  --mdc-chip-outline-color: #959595;
}

.mat-mdc-dialog-actions {
  background-color: #fff;
}