<mat-card>
  <h1>About Poll-A-Lot</h1>
  <p>
    This application has been created as an hobby project. It started form need
    for such app and then started to grow when I wanted to try more stuff.
  </p>
  <p>
    As a hobby project, nothing is guaranteed and the data can be removed
    without a notice. You've been warned! 😉
  </p>
  <p>
    This application uses the TMDb API but is not endorsed or certified by TMDb.<br/>
    This applications uses the Letterboxd API but is not endorsed or certified by Letterboxd.<br/>
    Also ratings data from OMDb API is used.
  </p>
  <p><span class="version">poll-a-lot v{{ version }}</span><br/></p>

  <p>
    <a href="https://www.flaticon.com/free-icons/create" title="create icons">Create icons created by HideMaru - Flaticon</a>
  </p>
</mat-card>
