.rounded {
    --mat-form-field-filled-container-shape: 30px;
    ::ng-deep {
        .mdc-text-field--filled {
            border-radius: var(--mat-form-field-filled-container-shape) !important;
            // transition: border-radius 200ms ease-in-out;
        }
        .has-options.mat-focused .mdc-text-field--filled  {
            border-radius: var(--mat-form-field-filled-container-shape) var(--mat-form-field-filled-container-shape) 0 0 !important;
        }
    }
}

.container {
    position: relative;
}

mat-form-field {
    width: 100%;
}

suggest-movie-button {
    position: absolute;
    right: 0;
    top: 2px;
}

input {
    width: calc(100% - 25px);
}
