@let hover = hoverState$ | async; @let open = open$ | async;
<div
  clickOutside (clickOutside)="openClick(false)"
  class="container"
  [ngClass]="{
    'mini-mode': useMiniMode,
    'size-s': size === 's',
    hover: hover,
    'dark-mode': darkMode,
    open: open
  }"
  (click)="openClick()"
>
  @let searchResults = searchResults$ | async;
  @let recentSearches = recentSearches$ | async;
  @let showRecent = !movieControl.value && recentSearches?.length;
  @let letterboxdSeenMap = letterboxdSeenMap$ | async;

  <mat-form-field
    #searchFormField
    [class.has-options]="searchResults.length || showRecent"
    [class.rounded]="rounded"
    subscriptSizing="dynamic"
  >
    <input
      #searchInput
      type="text"
      matInput
      [placeholder]="'🎬 Search for a movie'"
      aria-label="Movie"
      autocomplete="off"
      [formControl]="movieControl"
      [matAutocomplete]="auto"
     
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionsScroll)="onScroll()"
    >
      @if (showRecent) {
        <mat-optgroup label="Recent searches">
          @for (movie of recentSearches | slice: 0 : recentSearchCount; track movie.id) {
          <mat-option (click)="searchResultClicked(movie, $event)">
            <movie-search-result [movie]="movie" [letterboxdSeen]="letterboxdSeenMap?.get(movie.id)"></movie-search-result>
          </mat-option>
          }
        </mat-optgroup>
        <mat-divider></mat-divider>
        <mat-option class="clear-history" (click)="clearHistory($event)">
          <mat-icon>delete_outline</mat-icon>Clear search history
        </mat-option>
      } @else {
        @for (movie of searchResults; track movie.id) {
        <mat-option (click)="searchResultClicked(movie, $event)">
          <movie-search-result [movie]="movie" [letterboxdSeen]="letterboxdSeenMap?.get(movie.id)"></movie-search-result>
        </mat-option>
        }
      }
    </mat-autocomplete>
  </mat-form-field>
  @if (pollMovieIds?.length) {
  <suggest-movie-button
    [pollMovies]="pollMovieNames"
    (movieSelected)="
      confirmSuggestion ? openMovieDialog($event) : movieClicked($event)
    "
  ></suggest-movie-button>
  }
</div>
