.rounded {
    --mat-form-field-filled-container-shape: 30px;
    ::ng-deep {
        .mdc-text-field--filled {
            border-radius: var(--mat-form-field-filled-container-shape) !important;
            // transition: border-radius 200ms ease-in-out;
        }
        .has-options.mat-focused .mdc-text-field--filled  {
            border-radius: var(--mat-form-field-filled-container-shape) var(--mat-form-field-filled-container-shape) 0 0 !important;
        }
    }
}

.size-s {
    transform: scale(0.8);
}

.container {
    position: relative;
}

mat-form-field {
    width: 100%;
    opacity: 1;
    transition: all 200ms ease-in;
    transform-origin: center right;
}

suggest-movie-button {
    position: absolute;
    right: 0;
    top: 2px;
}

input {
    width: calc(100% - 25px);
}

.mini-mode {
    width: 100%;


    mat-form-field {
        position: absolute;
        right: 0px;

        ::ng-deep {
            .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
                // border: 2px solid pink !important;
                background: linear-gradient(rgba(43, 48, 59, 0.9), rgba(43, 48, 59, 0.9)) padding-box, linear-gradient(165deg, #7373ee, #c063ee) border-box;
                border-radius: 50em;
                border: 3px solid transparent;
            }
        }
    }

    &:not(.open):not(:hover) {
        mat-form-field {
            width: 64px;
            opacity: 0.9;
            --mat-form-field-filled-container-shape: 9999px;

            &::before {
                content: '\e8b6';
                color: #979797;
                font-family: 'Material Icons Outlined';
                position: absolute;
                top: 19px;
                left: 15px;
                z-index: 200;
                font-size: 36px;
            }
        }

        input {
            width: 0;
            padding-left: 4px;
        }
    }

    @media (hover: hover) {
        &:hover {
            mat-form-field {
                width: calc(100% + 25px * 2);
            }
        }
    }

    &.open {
        mat-form-field {
            width: calc(100% + 25px * 2);
        }
    }
}

.dark-mode {
    --mat-form-field-filled-container-color: rgba(43, 48, 59, 0.90);
    --mat-form-field-filled-input-text-color: #ececec;

    input::placeholder, ::-webkit-input-placeholder {
        color: #ccc !important;
    }

    &.mini-mode {
        --mat-form-field-filled-active-indicator-color: rgba(43, 48, 59, 0.90);
    }
}
