<div class="container">
  @let searchResults = searchResults$ | async;
  <mat-form-field [class.has-options]="searchResults.length" [class.rounded]="rounded">
    <input
      type="text"
      matInput
      placeholder="🎬 Search for a movie"
      aria-label="Movie"
      autocomplete="off"
      [formControl]="movieControl"
      [matAutocomplete]="auto"
      [autofocus]="false"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionsScroll)="onScroll()"
    >
      @for (movie of searchResults; track movie.id) {
      <mat-option (click)="movieClicked(movie)">
        <movie-search-result [movie]="movie"></movie-search-result>
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  @if (pollMovieIds?.length) {
    <suggest-movie-button
      [pollMovies]="pollMovieNames"
      (movieSelected)="confirmSuggestion ? openMovieDialog($event) : movieClicked($event)"
    ></suggest-movie-button>
  }
</div>
