.rounded {
    --mat-form-field-filled-container-shape: 30px;
    ::ng-deep {
        .mdc-text-field--filled {
            border-radius: var(--mat-form-field-filled-container-shape) !important;
            // transition: border-radius 200ms ease-in-out;
        }
        .has-options.mat-focused .mdc-text-field--filled  {
            border-radius: var(--mat-form-field-filled-container-shape) var(--mat-form-field-filled-container-shape) 0 0 !important;
        }
    }
}

.size-s {
    transform: scale(0.8);
}

.container {
    position: relative;
}

mat-form-field {
    width: 100%;
    opacity: 1;
    transition: all 200ms ease-in;
    transform-origin: center right;
}

suggest-movie-button {
    position: absolute;
    right: 0;
    top: 2px;
}

input {
    width: calc(100% - 25px);
}

.mini-mode {
    mat-form-field {
        position: absolute;
        right: 0px;
    }

    &:not(:hover) {
        mat-form-field {
            width: 57px;
            opacity: 0.8;
        }

        input {
            width: 15px;
            padding-left: 4px;
        }
    }

    &:hover {
        mat-form-field {
            min-width: 100vw;
        }
    }
}
