@let dddTriggers = triggers$ | async;
@let showCount = showTriggersCount$ | async;
@let categories = topTriggerCategories$ | async;
@let showSpoilers = showSpoilers$ | async;

@if (dddTriggers) {
    @if (dddTriggers.length === 0) {
        <div class="short-summary">
            <span class="material-symbols-outlined">
                siren_check
            </span>
            <div>No reported triggers at <a href="https://www.doesthedogdie.com/">doesthedogdie.com</a>.</div>
        </div>
    } @else {
        @if ((showTriggerWarnings$ | async) === false) {
            <div class="short-summary">
                <span class="material-symbols-outlined">
                    siren_check
                </span>
                <div class="truncate">@for(trigger of triggerTitlesNoSppoilers$ | async; track trigger) { {{trigger | titlecase }},}</div>
            </div>
            <button
                mat-button
                class="show-more cursor-pointer"
                (click)="showTriggerWarnings$.next(!showTriggerWarnings$.getValue())"
            >
               Show trigger warnings
            </button>   
        } @else {
            <div class="short-summary">
                <span class="material-symbols-outlined">
                    siren_check
                </span>
                <div class="truncate">@for(trigger of triggerTitlesNoSppoilers$ | async; track trigger) { {{trigger | titlecase }},}</div>
            </div>
            
            <div class="categories">
                Potential triggers: 
                @for (category of categories; track category; let last = $last) {
                    @if (last) {
                        <span>{{ category }}</span>
                    } @else {
                        <span>{{ category }}, </span>
                    }
                }
            </div>
        
            @for (trigger of dddTriggers.slice(0, showCount); track trigger.id) {
                <div class="trigger" [class.spoiler]="trigger.isSpoiler" [class.show-spoiler]="showSpoilers.has(trigger.id)" [ngClass]="{'cursor-pointer': trigger.isSpoiler}">
                    <div class="name truncate" (click)="trigger.isSpoiler ? showSpoiler(trigger.id) : void(0)" [matTooltip]="(trigger.isSpoiler && !showSpoilers.has(trigger.id)) ? 'Press to show trigger with spoiler' : trigger.name" matTooltipPosition="above">{{ trigger.name | titlecase }} <mat-icon [matTooltip]="trigger.comments"  matTooltipPosition="above">info_outline</mat-icon></div>
                    <div class="vote-distribution">
                        <div class="yes-votes-bar" [style.width.%]="(trigger.yesVotes * 100) / (trigger.yesVotes + trigger.noVotes)"><span [matTooltip]="'Yes votes: ' + trigger.yesVotes" matTooltipPosition="above">{{ trigger.yesVotes }}</span></div>
                        <div class="no-votes-bar" [style.width.%]="(trigger.noVotes * 100) / (trigger.yesVotes + trigger.noVotes)"><span [matTooltip]="'No votes: ' + trigger.noVotes" matTooltipPosition="above">{{ trigger.noVotes }}</span></div>
                    </div>
                </div>
            }
            <div class="ddd-info">Trigger data from <a href="https://www.doesthedogdie.com/">doesthedogdie.com</a>.</div>


            @if (dddTriggers.length > showCount) {
                <button
                    mat-button
                    class="show-more cursor-pointer"
                    (click)="showTriggersCount$.next(dddTriggers.length)"
                >
                    Show all
                </button>
            } @else {
                <button
                    mat-button
                    class="show-more cursor-pointer"
                    (click)="showTriggersCount$.next(5)"
                    >
                    Show less
                </button>
            }
        }
        
        @if ((showTriggerWarnings$ | async) === true) {
            <button
                mat-button
                class="show-more cursor-pointer"
                (click)="showTriggerWarnings$.next(!showTriggerWarnings$.getValue())"
                style="margin-top: 10px;"
            >
                Hide trigger warnings
            </button>
        }
    }
} @else {
    <div class="ddd-not-available-container">
        <span class="material-symbols-outlined">
            siren_question
        </span>
        <span class="ddd-info">Trigger data for this movie is not available from <a href="https://www.doesthedogdie.com/">doesthedogdie.com</a>.</span>
    </div>
}