:host {
    display: flex;
    flex-direction: column;
}

.categories {
    font-size: 0.7em;
    line-height: 1.3em;
    text-align: justify;
    text-transform: uppercase;
    margin-top: 10px;
}

.trigger {
    display: flex;
    $barWidth: 15%;

    &.spoiler {
        .name {
            filter: blur(4px);
        }

        &.show-spoiler .name {
            filter: unset;
        }

    }

    .name {
        width: calc(100% - $barWidth);
        font-size: 0.9em;
        display: flex;
        align-items: center;
        opacity: 0.8;

        mat-icon {
            $size: 10px;
            font-size: $size;
            height: $size;
            width: $size;
            line-height: $size;
            margin-left: 3px;
        }
    }

    .vote-distribution {
        display: flex;
        width: $barWidth;
        color: white;
        font-size: 0.8em;
        padding: 4px 0;
        height: 14px;
        position: relative;
    }

    $radius: 5px;
    .yes-votes-bar {
        display: flex;
        align-items: center;
        background: lightcoral;
        border: 2px solid red;
        border-right: 0;
        border-radius: $radius 0 0 $radius;
    }

    .no-votes-bar {
        display: flex;
        align-items: center;
        background: lightgreen;
        border: 2px solid green;
        border-left: 0;
        border-radius: 0 $radius $radius 0;

        span {
            position: absolute;
            right: 0;
        }
    }
}

.ddd-not-available-container {
    margin: 10px 0 15px 0;
    font-style: italic;
    line-height: 1.2em;
    opacity: 0.7;
    text-align: right;

    .material-symbols-outlined {
        $size: 10px;
        font-size: $size;
        width: $size;
        height: $size;
        line-height: $size;
        margin-right: 3px;

        position: relative;
        top: 2px;
    }
}

.short-summary {
    display: flex;
    font-size: 0.75em;
    font-style: italic;
    justify-content: right;

    .material-symbols-outlined {
        $size: 14px;
        font-size: $size;
        width: $size;
        height: $size;
        line-height: $size;
        margin-right: 3px;

        position: relative;
        top: 2px;
    }
}

.show-button {
    font-family: "Product Sans Bold";
    text-transform: uppercase;
    font-size: 0.6em;
    text-align: center;
    opacity: 0.9;
    margin: 5px 0;
}

.ddd-info {
    font-size: 0.8em;
    text-align: right;
    margin: 5px 0 10px;
    opacity: 0.8;
    font-style: italic;
}

.show-more {
  left: 50%;
  transform: translate(-50%, 0);
  height: 20px;
}

a {
    color: inherit !important;
}

button.show-more {
    color: inherit;
}