.container {
    position: relative;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.movie-spinner {
    position: absolute;
    right: 14px;
    top: 14px;
}