.fa-bookmark.watchlist {
  font-size: calc(min(35vw, 170px) * 0.25);
  background-image: linear-gradient(to top, #9890e3a3 0%, #b1f4cf 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 1));

  &:not(.active) {
    // background-image: linear-gradient(#eaeaea, #fff);
    background-image: linear-gradient(rgba(234, 234, 234, 0.75), rgba(255, 255, 255, 0.4));
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 1));
  }

  &.size-xs {
    font-size: 29px !important;
  }

  &.size-xxs {
    font-size: 22px !important;
  }
}
