<mat-card *ngIf="user$ | async as user; else showLogin">
  <mat-form-field class="full-width">
    <input matInput placeholder="Name of the poll" [(ngModel)]="poll.name">
  </mat-form-field>

  <mat-card class="option-card" *ngFor="let pollItem of poll.pollItems; let i = index">
    <mat-form-field class="full-width">
      <input matInput placeholder="Option {{ i + 1 }}" [(ngModel)]="pollItem.name">
    </mat-form-field>
    <mat-icon class="close" (click)="remove(pollItem)" style="cursor: pointer;">close</mat-icon>
  </mat-card>
  <div style="padding-top: 30px;">
    <button mat-raised-button (click)="addPollItem()">Add option</button>
    <button mat-raised-button color="primary" [disabled]="!saveActive()" class="save-btn" (click)="save()">Save</button>
  </div>

</mat-card>

<ng-template #showLogin>
  <mat-card class="login-card">
    <p>Please login.</p>
    <button mat-raised-button color="primary"(click)="login()">Login with Google</button>
  </mat-card>
</ng-template>