
.option-card {
    position: relative;
    margin-bottom: 10px;
    .close {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0,-50%);
    }
}

.save-btn {
    float: right;
}

mat-form-field.full-width {
    width: 100%;
}

.option-card {
    mat-form-field.full-width {
        width: calc(100% - 60px);
    }
}

.settings-icon {
    float: right;
}

.settings {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;

    & > mat-slide-toggle {
        margin-right: 2px;
    }
}

.poll-buttons-container {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
