@let user = user$ | async;
<mat-card class="add-poll" style="padding-bottom: 5px">
  @if (user?.id) {@if (loading$ | async) {
  <spinner></spinner>
  }
  <button mat-button class="settings-button" (click)="settings = !settings">
    Advanced settings
  </button>
  @if (settings) {
  <div class="settings">
    <mat-slide-toggle
      [(ngModel)]="poll.moviepoll"
      (change)="changeMoviePollState($event)"
      matTooltip="Create a poll of movies"
      >Movie poll</mat-slide-toggle
    >
    <mat-slide-toggle
      [(ngModel)]="poll.seriesPoll"
      (change)="changeSeriesPollState($event)"
      matTooltip="Create a poll of TV series"
      >TV Series poll</mat-slide-toggle
    >
    <mat-slide-toggle
      [(ngModel)]="poll.selectMultiple"
      matTooltip="Allow users to vote for multiple choices"
      >Allow voting for multiple options</mat-slide-toggle
    >
    <mat-slide-toggle
      [(ngModel)]="poll.allowAdd"
      matTooltip="Allow users to add their preferred options to the poll"
      >Allow adding of options</mat-slide-toggle
    >
    <mat-slide-toggle
      [(ngModel)]="poll.showPollItemCreators"
      matTooltip="Show creators of individual poll items"
      >Show poll item creators</mat-slide-toggle
    >
    @if (poll.moviepoll) {
    <mat-slide-toggle
      [(ngModel)]="poll.useSeenReaction"
      matTooltip="Use seen reactions and smart sort"
      >Seen reactions</mat-slide-toggle
    >
    } @if (poll.moviepoll) {
    <mat-slide-toggle
      [checked]="poll.movieList"
      (change)="poll.movieList = $event.checked; poll.rankedMovieList = false"
      matTooltip="Movie list (disabled voting)"
      >Movie list</mat-slide-toggle
    >
    } @if (poll.moviepoll) {
    <mat-slide-toggle
      [checked]="poll.rankedMovieList"
      (change)="poll.rankedMovieList = $event.checked; poll.movieList = false"
      matTooltip="Ranked movie list (disabled voting)"
      >Ranked movie list</mat-slide-toggle
    >
    }
    <!-- <mat-slide-toggle [(ngModel)]="poll.allowRandomDraw" matTooltip="Allow drawing a random option">Allow random option draw</mat-slide-toggle> -->
  </div>
  }
  <mat-form-field class="full-width" style="margin-top: 17px">
    <input
      matInput
      placeholder="📌 Name of the poll"
      [(ngModel)]="poll.name"
      required="true"
    />
    <!-- <mat-hint align="start" style="margin-bottom: 5px;">Add name and at least one valid option to save the poll</mat-hint> -->
  </mat-form-field>
  <!-- Additional poll fields -->
  <mat-form-field class="full-width">
    <textarea
      matInput
      placeholder="📝 Poll description"
      [(ngModel)]="poll.description"
    ></textarea>
  </mat-form-field>
  <div class="flex" style="align-items: center">
    <mat-form-field>
      <mat-label>📆 Poll Event date (optional)</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="poll.date" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <span
      class="cursor-pointer clear-date"
      (click)="poll.date = ''"
      style="font-size: 2em; color: grey; margin: auto auto 30px 11px"
      >&times;</span
    >
  </div>
  <!-- Movie search -->
  @if (poll.moviepoll) {
  <movie-search-input
    (movieSelected)="addMoviePollItem($event)"
    [pollMovies]="pollMovies$ | async"
  ></movie-search-input>

  @if (watchlistItems$ | async; as watchlistMovies) {
  <div class="add-from-watchlist">
    <h3>Add from your watchlist <mat-icon>bookmark_added</mat-icon></h3>
    <div class="watchlist-movies movies start-height">
      @for (watchlistItem of watchlistMovies.slice(0, showWatchlistItemsCount);
      track watchlistItem.moviePollItemData.id; let i = $index) { @let
      reversedWatchlistItem = watchlistMovies[watchlistMovies.length - 1 - i];
      <div class="movie cursor-pointer">
        <poster
          [movieId]="reversedWatchlistItem.moviePollItemData.id"
          [posterPath]="reversedWatchlistItem.moviePollItemData.posterPath"
          [rating]="reversedWatchlistItem.movieIndex.tmdbRating"
          size="xs"
          hideBorder="true"
          (movieClicked)="
            addMoviePollItem(reversedWatchlistItem.moviePollItemData)
          "
        ></poster>
      </div>
      }
    </div>
    <div class="flex">
      @if (showWatchlistItemsCount > watchlistRowCount &&
      showWatchlistItemsCount < watchlistMovies.length) {
      <div
        class="load-more-button cursor-pointer"
        (click)="showWatchlistItemsCount = watchlistRowCount"
      >
        Show less
      </div>
      }
      <div
        class="load-more-button cursor-pointer"
        (click)="
          showWatchlistItemsCount < watchlistMovies.length
            ? (showWatchlistItemsCount =
                showWatchlistItemsCount + watchlistRowCount)
            : (showWatchlistItemsCount = watchlistRowCount)
        "
      >
        {{
          showWatchlistItemsCount < watchlistMovies.length
            ? "Show more"
            : "Show less"
        }}
      </div>
    </div>
  </div>
  } }
  <!-- TV Series search -->
  @if (poll.seriesPoll) {
  <mat-form-field class="full-width" style="margin-bottom: 15px">
    <input
      type="text"
      matInput
      placeholder="📺 Search for TV series"
      aria-label="TV"
      [formControl]="seriesControl"
      [matAutocomplete]="auto"
    />
    <mat-hint align="start">
      Click the found series to add it to the poll
    </mat-hint>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for(series of seriesSearchResults$ | async; track series.id) {
      <mat-option (click)="addSeriesPollItem(poll.id, series)">
        {{ series.original_name }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  } @for(pollItem of pollItems$ | async; track pollItem.id;let i = $index) {
  <div class="added-poll-items">
    @if(pollItem.movieId) {
    <movie-poll-item
      class="normal-margin"
      [creating]="true"
      [pollItem]="pollItem"
      [removable]="true"
      [reactable]="false"
      [voteable]="false"
      (onRemoved)="removePollItem($event.id)"
    ></movie-poll-item>
    } @if(pollItem.seriesId) {
    <series-poll-item
      class="normal-margin"
      [creating]="true"
      [pollItem]="pollItem"
      [removable]="true"
      (onRemoved)="removePollItem($event.id)"
    ></series-poll-item>
    } @if(!pollItem.movieId && !pollItem.seriesId) {
    <mat-card class="option-card normal-margin">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Option {{ i + 1 }}"
          [(ngModel)]="pollItem.name"
        />
      </mat-form-field>
      <mat-icon
        class="close"
        (click)="removePollItem(pollItem.id)"
        style="cursor: pointer"
        >close</mat-icon
      >
    </mat-card>
    }
  </div>
  }
  <div class="poll-buttons-container">
    @if(!poll.moviepoll) {
    <button
      mat-raised-button
      (click)="addPollItem(poll.id)"
      aria-label="Add option"
    >
      Add option
    </button>
    }
    <div></div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!saveActive()"
      class="save-btn"
      (click)="save()"
      aria-label="Save"
    >
      Save
    </button>
  </div>
  <p class="disclaimer">
    Never submit passwords or other sensitive data to the poll fields.
  </p>
  } @else {
  <div class="login-card">
    <p>To create content, you need to sign-in with Google.</p>
    <p class="tech-details">
      Poll-a-Lot uses Firebase Authentication and only you forename will be
      stored to be display in the app. Industry standard authentication is used
      so that your login credentials will never be passed or saved to
      Poll-a-Lot.
      <a target="_blank" href="https://firebase.google.com/docs/auth"
        >Read more!</a
      >
    </p>
    <login-button (loginClicked)="login()"></login-button>
  </div>
  }
</mat-card>
