mat-card.add-poll {
  --mdc-elevated-card-container-shape: 0 0 5px 5px;
}

.option-card {
  position: relative;
  margin-bottom: 10px;
  .close {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.added-poll-items {
  movie-poll-item:first-child {
    margin-top: 25px;
  }
}

.save-btn {
  float: right;
}

mat-form-field.full-width {
  width: 100%;
}

.option-card {
  mat-form-field.full-width {
    width: calc(100% - 60px);
  }
}

.settings-button {
  margin-left: auto;
}

.settings {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;

  & > mat-slide-toggle {
    margin: 3px 7px 3px 0;
  }
}

.poll-buttons-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.add-from-watchlist {
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .watchlist-movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & > .movie {
      margin: 3px 6px;
    }
  }
  
  .load-more-button {
    border-radius: 5px;
    border: 1px solid #d9c6ee;
    margin: 20px auto;
    width: 100px;
    text-align: center;
    font-size: 0.7em;
    padding: 1px 2px;
    color: #d9c6ee;
  }
}