@if ({ loading: showLoading$ | async }; as status) {
  <h1 mat-dialog-title>👏 Choose this!</h1>
  @if (status.loading) {
    <div class="dice-roll">
      <mat-icon class="animation-roll" color="primary">casino</mat-icon>
    </div>
  }
  <div
    class="content"
    [style.visibility]="!status.loading ? 'visible' : 'hidden'"
    animate.enter="fade-in-animation" animate.leave="fade-out-animation"
    >
    @if (!pollItem.movieId && !pollItem.seriesId) {
      <mat-card transition-group-item class="option-card">
        <div class="name">{{ pollItem.name }}</div>
      </mat-card>
    }
    @if (pollItem.movieId) {
      <movie-poll-item
        [pollItem]="pollItem"
        [showCreator]="!!pollItem.creator"
        [reactable]="false"
      ></movie-poll-item>
    }
    @if (pollItem.seriesId) {
      <series-poll-item
        [pollItem]="pollItem"
        [showCreator]="!!pollItem.creator"
      ></series-poll-item>
    }
  </div>
  <div mat-dialog-actions>
    <button
      class="close-btn"
      mat-button
      color="primary"
      [mat-dialog-close]="true"
      aria-label="Ok"
      (click)="onOk()"
      >
      Ok
    </button>
  </div>
  <ng-template #loading> </ng-template>
}
