.page-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 16px);
}

.content {
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    > *:not(router-outlet) {
        flex: 1;
        display: block;
    }
}

$max-width: 556px;

:host {
    @media screen and (min-width: $max-width) {
        .page-container {
            width: calc(556px - 16px);
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}