
.movie-collection {
  margin-left: -24px;
  margin-right: -24px;
  padding: 10px 25px 5px;
  position: relative;
  background-size: cover;
  background-position: left calc((50vw - 170px) - 340px) top;
  overflow: hidden;
  color: white;
//   font-size: 0.9em;

  h2 {
    margin-top: 0;
    text-align: center;
  }

  .info-container {
    position: relative;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 12px;
    grid-template-areas: 
        "title title"
        "poster info";

    .collection-name {
      grid-area: title;
      text-align: center;
    }

    poster.collection-poster {
      grid-area: poster;
      margin: auto;
    }

    .collection-info {
        grid-area: info;
    }
  }

  .movie-collection-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .collection-info {
    margin: 0 10px;
    // color: #f6f6f6;
  }

  .info {
    text-transform: uppercase;
    text-align: center;
  }

  .collection-items {
    display: flex;
    overflow-x: scroll;
    position: relative;

    .collection-item {
      margin: 14px 10px 5px 0;
      text-align: center;
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-right: auto;
      }

      poster {
        margin-bottom: 5px;
      }

      .collection-item-info {
        .release-year {
          font-size: 0.8em;
          font-family: 'Product Sans Bold';
          color: white;
        }
      }
    }
  }

  .collection-overview {
    text-align: justify;
  }

  .show-more {
    color: white;
  }

  &.small {
    font-size: 0.85em;

    poster {
      margin: unset;
      margin-right: 10px;
    }

    .collection-info {
      margin: 0 auto;
      position: relative;
    }

    .show-more {
      height: 10px;
      position: absolute;
      bottom: 9px;
      margin-left: calc(37px / 2);
    }
  }
}

.show-more {
  left: 50%;
  transform: translate(-50%, 0);
}