

@if (posterPath) {
  <div class="poster-container" [ngClass]="size + '-size'" [class.fit-container]="fit">
    @if (posterPath && !hideBorder) {
      <div
        [lazyLoad]="'https://image.tmdb.org/t/p/w92/' + posterPath"
        class="poster-border fade-in-out"
      ></div>
    }
    @if (posterPath) {
      <img
        class="poster fade-in-out"
      [lazyLoad]="
        'https://image.tmdb.org/t/p/w92' +
        posterPath +
        ' 150w,' +
        'https://image.tmdb.org/t/p/w154' +
        posterPath +
        ' 300w,' +
        'https://image.tmdb.org/t/p/w185' +
        posterPath +
        ' 380w,' +
        'https://image.tmdb.org/t/p/w342' +
        posterPath +
        ' 700w,' +
        'https://image.tmdb.org/t/p/w500' +
        posterPath +
        ' 1000w,' +
        'https://image.tmdb.org/t/p/w780' +
        posterPath +
        ' 1400w'
      "
        [useSrcset]="true"
        [defaultImage]="'/assets/img/poster-placeholder.gif'"
        [errorImage]="'/assets/img/poster-placeholder.png'"
        />
    }
    @if (rating) {
      <movie-score
        class="cursor-pointer"
        (click)="openTmdb(movieId)"
        [value]="rating"
      [size]="
        size === 'grid' || size === 'xs'
          ? 'xs'
          : size === 's'
          ? 's'
          : size === 'xxs'
          ? 'xxs'
          : 'm'
      "
      ></movie-score>
    }
    @if (showWatchlistMarker) {
      <watch-list-marker
        [movieId]="movieId"
        [size]="size"
      ></watch-list-marker>
    }
  </div>
} @else {
  <div class="poster-container" [ngClass]="size + '-size'">
    <div class="loading-poster loading-image poster-mockup">
      <div class="loading-movie-score" [ngClass]="size + '-size'"></div>
    </div>
  </div>
}
