<ng-container>
  <ng-container *ngIf="poll$ | async; let poll; else spinner">
    <mat-card>
      <h2>{{ poll.name }}</h2>
      <ng-container *ngIf="pollItems$ | async; let pollItems">
        <div [transition-group]="'flip-list'">
          <mat-card transition-group-item *ngFor="let pollItem of pollItems; trackBy: trackById" class="option-card"
            (click)="pollItemClick(poll, pollItems, pollItem)" [title]="canVote(poll, pollItems, pollItem) ? 'Click to vote!' : 'You have already voted'"
            [ngClass]="{'voted': hasVoted(pollItem)}">
            <div class="bg" [style.width.%]="getBgWidth(pollItems, pollItem)"></div>
            <div class="start">
              <ng-container *ngIf="user$ | async as user; else notVoted">
                <mat-icon class="voted">{{ hasVoted(pollItem, user) ? 'check' : '' }}</mat-icon>
              </ng-container>
              <div class="name">{{ pollItem.name }}</div>
            </div>
            <div class="vote-count" title="There are {{ pollItem.voters.length }} voters for this option">{{ pollItem.voters.length }}</div>
          </mat-card>
        </div>
      </ng-container>
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #notVoted>
  <mat-icon class="voted"></mat-icon>
</ng-template>

<ng-template #spinner>
  <spinner></spinner>
</ng-template>