.poll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;

  & > div {
    width: 100%;
  }
}

h2,
label,
.vote-multiple,
button {
  user-select: none;
}

.poll-header {
  & > .flex {
    display: flex;
    justify-content: space-between;
    word-break: break-word;
    align-items: center;
    min-height: 97px;
  }

  .controls {
    display: flex;
    align-self: center;
    margin-left: auto;

    .mat-mdc-icon-button.mat-mdc-button-base {
      padding: 0;
      --mdc-icon-button-state-layer-size: 40px;
      padding: 25px 0;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  .flex.space-between {
    justify-content: space-between;
    & > * {
      width: 43%;
      margin: 14px 0 14px;
      height: 35px !important;
    }
  }

  .loading-main-text.center {
    margin: 20px auto 15px;
    width: 260px;
    height: 20px;
  }

  .center {
    justify-content: center;

    & > .loading-main-text {
      margin-top: 25px;
      width: 100%;
      margin-bottom: 10px;
    }

    .flex > .loading-main-text {
      height: 25px;
    }
  }

  .divider-margin {
    margin-bottom: 0;
  }

  .poll-date {
    margin: -20px 0 18px 2px;
    font-size: 0.7em;
    color: #616060;
  }

  .poll-date.locked {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    background-color: #676767;
    background: linear-gradient(90deg, #7e98e7 0%, #9fa9ea 100%);
    color: white;
    margin: -20px -16px 20px -16px;
    padding: 10px;

    mat-icon {
      padding: 5px;
    }
  }

  .edit-button {
    padding: 0;
    min-width: 30px;
  }

  .poll-description {
    margin: -10px 0 24px 0;
    color: #616060;
    font-size: 0.9em;
    font-synthesis: none;
  }
}

.allow-random-draw {
  margin: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  label {
    font-size: 0.8em;
    padding-right: 7px; // to ensure that rotating dice doesn't collide with dice
  }

  .mat-button {
    min-width: unset;
  }
}

.normal-pollitem {
  width: calc(100% - 42px);
  padding-right: 25px;
}

.option-card {
  position: relative;
  transition: all 2s ease !important;
  cursor: pointer;

  padding: 15px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  word-break: break-word;

  & > div:not(.bg) {
    z-index: 2;
  }

  .start {
    display: flex;
    align-items: center;
    flex: 1;
  }
  margin-left: auto;
  margin-bottom: 20px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 7px;
  padding: 5px 10px;
  background-image: linear-gradient(225deg, #eecafd 0%, #64d3e3 100%);

  .voted {
    position: relative;
    top: -2px;
    padding-right: 11px;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #d9c6ee;
    opacity: 0.3;
    transition: all 2s ease !important;
    z-index: 1;
  }

  .vote-count {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
}

.loader-space {
  height: 49px;
}

.remove {
  cursor: pointer;
  left: 50%;
  position: relative;
  top: 25px;
  z-index: 1;
  margin-right: 26px;
}

.top-items-center {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 36px;

  mat-form-field {
    margin-bottom: -15px;
  }
}

.add-new-item-icon-btn {
  margin: 20px auto 0;
  font-size: 40px;
  height: 40px;
  width: 40px;

  background-image: linear-gradient(
    52deg,
    #ac32e4a8 0%,
    #7918f2d4 51%,
    #7092e6e6 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add-new-item-container {
  margin-top: 30px;
  width: 92%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  45% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animation-rotate {
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
  overflow: initial;
}

.vote-multiple {
  margin: 25px;
  opacity: 0;
  text-align: center;

  &.show {
    opacity: 1;
  }
}

.gradient-divider {
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 37%,
    #7092e6 100%
  );
  height: 2px;
  width: 98vmin !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
  top: 16px;
}

.smart-order {
  margin-left: auto;
  margin-bottom: 20px;
  width: 100px !important;
  /* background: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkblue;
  border-radius: 7px;
  padding: 5px 2px;
  background-image: linear-gradient(225deg, #eecafd 0%, #64d3e3 100%);
  font-size: 12px;

  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
  opacity: 0;

  &.show {
    opacity: 1;
  }

  div.round-led {
    // background-color: #959292;
    font-size: 18px;
    height: 6px;
    width: 6px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #636363;
  }

  &.is-active {
    div.round-led {
      box-shadow: 0 0 6px 2px #42db87;
      background-color: #42db87;
    }
  }
}

.sorter-dropdown {
  margin-left: auto;
  transform: scale(0.75);
  margin-right: -25px;

  &::ng-deep {
    .mat-mdc-form-field-focus-overlay {
      opacity: 0 !important;
    }

    .mat-mdc-text-field-wrapper {
      background-color: unset; //#f5f0ff;
      height: 43px;
      border-radius: 6px;
    }

    .mat-mdc-form-field-infix {
      padding-top: 16px;
      padding-bottom: 11px;
      min-height: 43px;
    }

    .mdc-floating-label.mat-mdc-floating-label {
      top: 23px;
    }

    .mat-mdc-select-value-text,
    .mat-mdc-floating-label {
      user-select: none;
    }
  }
}

.divider {
  width: 100%;
  height: 2px;
  background: #d6d6d6;
}

.condensed-view-toggle {
  display: flex;
  justify-content: right;

  mat-slide-toggle {
    transform: scale(0.75);
  }

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-top: 8px;
  }
}

// Drag and drop styles
.toggle-drag {
  justify-content: center;
  display: flex;
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
