<div mat-dialog-content>
  <div #onTop></div>
  <div class="absolute-container">
    <div class="close-button cursor-pointer" (click)="close()">Close</div>
  </div>
  @if ((backgroundLoaded$ | async) === false) {
    <div
      class="loading-image random-movie-gif"
    ></div>
  }
  <div
    class="random-movie-gif reveal"
    [lazyLoad]="'/assets/img/movie-gifs/movie-' + randomMovie + '.gif'"
    alt="Random movie gif"
    (onStateChange)="onStateChangeLoad($event)"
  ></div>

  <h1 class="add-movie-title" mat-dialog-title>Add movie 🍿</h1>

  <mat-form-field class="search-movie" style="width: 100%">
    <input
      type="text"
      matInput
      placeholder="🎬 Search for a movie"
      aria-label="Movie"
      autocomplete="something-something-title"
      [formControl]="movieControl"
      [matAutocomplete]="auto"
      [autofocus]="false"
      #movieInput
      />
    <mat-autocomplete #auto="matAutocomplete" (optionsScroll)="onScroll()">
      @for (movie of searchResults$ | async; track movie) {
        <mat-option
          (click)="movieInput.blur(); $event.stopPropagation(); addMoviePollItem(movie, true)"
          >
          <movie-search-result [movie]="movie"></movie-search-result>
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <br />
  <div class="divider-text">.. or select one of these:</div>
  <div class="show-type-selector">
    <div
      class="type-button"
      (click)="setSelection('recommended')"
      [class.selected]="show === 'recommended'"
      >
      Recommended
    </div>
    <div
      class="type-button"
      (click)="setSelection('popular')"
      [class.selected]="show === 'popular'"
      >
      Popular
    </div>
    <div
      class="type-button"
      (click)="setSelection('best-rated')"
      [class.selected]="show === 'best-rated'"
      >
      Best rated
    </div>
  </div>

  @if (show === 'recommended') {
    <mat-expansion-panel #availablePanel class="movie-providers">
      <mat-expansion-panel-header>
        <mat-panel-title><h2 #available>Movie providers</h2></mat-panel-title>
      </mat-expansion-panel-header>
      <watch-provider-select
        (selectionChanged)="filteredWatchProviders = $event; watchProvidersChange = true; updateRecommendedSearch()"
      ></watch-provider-select>
      <!-- <div
        class="load-more-button reload-button cursor-pointer"
        [class.active]="watchProvidersChange"
        (click)="updateRecommendedSearch()"
        >
        Update
      </div> -->
    </mat-expansion-panel>
    @if (recommendedMovies$ | async; as movies) {
      <div
        class="recommended-movies movies start-height"
        >
        @for (movie of movies.slice(0, movies.length - ((movies.length % 3))); track trackById($index, movie)) {
          <ng-container
            [ngTemplateOutlet]="movieTemplate"
            [ngTemplateOutletContext]="{movie: movie}"
          ></ng-container>
        }
      </div>
    }
  }
  @if (show === 'popular') {
    @if (popularMovies$ | async; as movies) {
      <div
        class="popular-movies movies start-height"
        >
        @for (movie of movies.slice(0, movies.length - ((movies.length % 3))); track trackById($index, movie)) {
          <ng-container
            [ngTemplateOutlet]="movieTemplate"
            [ngTemplateOutletContext]="{movie: movie}"
          ></ng-container>
        }
      </div>
    }
  }
  @if (show === 'best-rated') {
    @if (bestRatedMovies$ | async; as movies) {
      <div
        class="best-rated-movies movies start-height"
        >
        @for (movie of movies.slice(0, movies.length - ((movies.length % 3))); track trackById($index, movie)) {
          <ng-container
            [ngTemplateOutlet]="movieTemplate"
            [ngTemplateOutletContext]="{movie: movie}"
          ></ng-container>
        }
      </div>
    }
  }
  <div
    class="load-more-button cursor-pointer"
    (click)="show === 'popular' ? loadPopularMovies() : show === 'recommended' ? loadRecommendedMovies() : loadBestRatedMovies()"
    >
    Load more
  </div>
</div>

<ng-template #movieTemplate let-movie="movie">
  @if (movie) {
    <div class="movie">
      <poster
        [movieId]="movie.id"
        [posterPath]="movie.poster_path"
        [rating]="movie.vote_average"
        size="grid"
        hideBorder="true"
        showWatchlistMarker="true"
        (movieClicked)="openAnotherMovie(movie)"
      ></poster>
    </div>
  }
</ng-template>