$poster-base-unit: min(95vw, 472px);

.add-movie-title {
  margin-left: -18px;
  font-family: "Product Sans";
  font-size: 1.7em;
  line-height: 1.7em;
}

.movie {
  &s {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
    align-content: flex-start;

    &::after {
      content: "";
      //   flex: auto;
      width: calc(#{$poster-base-unit} / 3 - 20px);
    }
  }
}

.add-from-watchlist {
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .watchlist-movies {
    justify-content: center;
    & > .movie {
      margin: 3px 4px;
    }
  }
}

.movie {
  cursor: pointer;
}

.show-type-selector {
  display: flex;
  justify-content: center;

  .type-button {
    border: 1px solid black;
    border-right: unset;
    padding: 2px 5px;
    font-size: 0.8em;
    min-width: 91px;
    text-align: center;
    margin: 25px 0;

    &.selected {
      background-image: linear-gradient(225deg, #8800bf 0%, #08b9d3 100%);
      color: white;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid black;
    }
  }
}

.load-more-button {
  border-radius: 5px;
  border: 1px solid #d9c6ee;
  margin: 20px auto;
  width: 100px;
  text-align: center;
  font-size: 0.7em;
  padding: 1px 2px;
  color: #d9c6ee;
}

.reload-button {
  &:not(.active) {
    opacity: 0.6;
    border: 1px solid #ccc;
    color: #ccc;
  }
}

.divider-text {
  text-align: center;
  font-size: 0.8em;
}

mat-form-field.search-movie {
  margin-top: 30px;
  margin-bottom: 20px;

  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      border-radius: 8px;
    }
  }
}

.mat-mdc-dialog-content {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 100%;
}

.random-movie-gif {
  height: calc(10 / 16 * min(450px, 90vw));
  width: calc(100% + 2 * 24px);

  margin: 0 -24px;
  background-size: cover;
  background-position: center center;
  background-color: rgb(16, 15, 15);

  transition: opacity 1s;
  opacity: 0.8;

  &.ng-lazyloaded {
    opacity: 1;
  }

  &:not(.ng-lazyloaded):not(.loading-image) {
    height: 0;
  }
}

.relative-container {
  position: relative;
}

.absolute-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: right;
  left: 0;
  top: 0;
}

.movie-providers {
  margin-bottom: 20px;
}

.start-height {
  animation: startHeight ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes startHeight {
  0% {
    min-height: 90vh;
  }
  100% {
    min-height: 0;
  }
}
