@if ({ watchlist: watchlist$ | async }; as status) {
  <mat-card color="dark-primary">
    <h1 (click)="loadingVar = !loadingVar">Watchlist</h1>
    <div class="watchlist-container">
      <div class="flex buttons">
        <div
          class="add-new-item-btn"
          (click)="openAdd(status?.watchlist || [])"
          >
          <mat-icon aria-label="Add new item" class="icon"
            >add_circle_outline</mat-icon
            >Add new item
          </div>
          @if (viewMode$ | async; as view) {
            <div
              class="change-view-btn"
          (click)="
            view === 'grid'
              ? viewMode$.next('rows')
              : view === 'rows'
              ? viewMode$.next('grid')
              : viewMode$.next('rows')
          "
              >
              <mat-icon aria-label="Add new item" class="icon">{{
                view === "grid"
                ? "table_rows"
                : view === "rows"
                ? "grid_on"
                : "table_rows"
              }}</mat-icon>
            </div>
          }
        </div>
        @if (status.watchlist && status.watchlist.length === 0) {
          Watchlist is empty! Add something! 💫
        }
        @if (status.watchlist; as watchlist) {
          <div
            class="watchlist-content"
            >
            @if (viewMode$ | async; as view) {
              <div
                class="watchlist-items"
                [ngClass]="'viewmode-' + view"
                >
                @for (
                  watchlistItem of watchlist.slice().reverse(); track watchlistItem.moviePollItemData.id; let i = $index) {
                  <watch-list-item
                    [watchlistItem]="watchlistItem"
                    [viewMode]="view"
                    [indexNumber]="watchlist.length - i"
                    (showMovie)="showMovie($event, watchlist)"
                    (removeItem)="removeItem($event, watchlist)"
                  ></watch-list-item>
                }
              </div>
            }
          </div>
        } @else {
          <div class="loading watchlist-items">
            @for (i of [0, 1, 2, 3, 4]; track i) {
              <ng-container *ngTemplateOutlet="watchlistItem"></ng-container>
            }
          </div>
        }
      </div>
    </mat-card>
  }

  <ng-template #watchlistItem>
    <div class="flex movie-content loading-background">
      <div class="loading-btn loading-order"></div>
      <poster [size]="'xs'"></poster>
      <div class="flex-column movie-details">
        <div class="loading-sub-text loading-title"></div>
        <div class="loading-main-text"></div>
        <div class="loading-main-text"></div>
        <div class="loading-main-text"></div>
      </div>
      <div class="loading-btn close"></div>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="loading watchlist-items">
      @for (i of [0, 1, 2, 3, 4]; track i) {
        <ng-container *ngTemplateOutlet="watchlistItem"></ng-container>
      }
    </div>
  </ng-template>
