<ng-container *ngIf="movie$ | async as movie">
  <div class="bg" [style.width.%]="progressBarWidth"></div>
  <mat-card class="option-card">

    <img class="poster" *ngIf="movie.posterUrl" [src]="movie.posterUrl">
    <div class="content">
      <!-- <div *ngIf="movie.backdropUrl" class="backdrop">
      <img [src]="movie.backdropUrl" />
      <div class="fade"></div>
    </div> -->
      <div class="movie-info">
        <span class="title">{{ movie.originalTitle }}</span>
        <div class="subtitle">
          <div class="basics">
            <span class="year">{{ movie.releaseDate | date: 'yyyy' }}</span><span class="separator">|</span><span class="runtime">{{ movie.runtime }} min</span>
          </div>
          <div class="movie-ratings">
            <div class="movie-rating tmdb cursor-pointer" (click)="openTmdb(movie.id)" matTooltip="TMDb score"><span class="score">{{ movie.tmdbRating }}</span><mat-icon class="md-16">launch</mat-icon></div>
            <div *ngIf="movie.imdbRating" (click)="openImdb(movie.imdbId)" class="movie-rating imdb cursor-pointer" matTooltip="IMDb score"><span class="score">{{ movie.imdbRating }}</span><mat-icon class="md-16">launch</mat-icon></div>
            <div *ngIf="movie.metaRating" class="movie-rating meta-critic" [ngClass]="getMetaBgColor(movie.metaRating)" matTooltip="Metacritic score"><span class="score">{{ movie.metaRating }}</span></div>
            <div *ngIf="movie.rottenRating" class="movie-rating rotten-tomatoes" matTooltip="RottenTomatoes score"><span class="score">{{ movie.rottenRating }}</span></div>
          </div>
        </div>
      </div>
      <div class="overview" [ngClass]="{'shortened': shortened}" (click)="shortened = !shortened">
        {{ movie.overview }}
        <div class="genres">
          <span class="genre" *ngFor="let genre of movie.genres">
            {{ genre }}
          </span>
        </div>
      </div>
      <div class="show-more" (click)="shortened = !shortened">{{ shortened ? 'Show more info' : 'Show less' }}</div>
    </div>
    <div class="controls" *ngIf="removable || voteable">
      <span class="creator" *ngIf="showCreator && pollItem?.creator?.name">{{ pollItem.creator.name }}</span>
      <mat-icon *ngIf="removable" class="close" (click)="remove(pollItem)" style="cursor: pointer;">close</mat-icon>
      <voter *ngIf="voteable" [pollItem]="pollItem" [hasVoted]="hasVoted" (onClick)="clicked(pollItem)"></voter>
    </div>
  </mat-card>
</ng-container>