<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap"
  rel="stylesheet"
/>

<ng-container
  *ngIf="{ movie: movie$ | async, pollItem: pollItem$ | async }; let status"
>
  <ng-container>
    <div class="bg" [style.width.%]="progressBarWidth"></div>
    <mat-card class="option-card">
      <div class="flex-column flex-grow">
        <div class="flex flex-grow">
          <div
            class="poster-container"
            (mouseenter)="movieReactionsOpened$.next(true)"
            (mouseleave)="movieReactionsOpened$.next(false)"
            (clickOutside)="movieReactionsOpened$.next(false)"
            (click)="movieReactionsOpened$.next(true)"
            style="margin-bottom: auto"
          >
            <img
              [defaultImage]="'/assets/img/poster-placeholder.png'"
              [errorImage]="'/assets/img/poster-placeholder.png'"
              [lazyLoad]="posterImage$ | async"
              [useSrcset]="true"
              class="poster"
              alt="Movie poster image"
            />
            <div class="chart">
              <movie-score
                class="cursor-pointer"
                (click)="openTmdb(status.movie.id)"
                [value]="status.movie?.tmdbRating || 8"
                size="s"
              ></movie-score>
            </div>
            <div
              *ngIf="!creating"
              class="movie-reactions"
              [class.open]="!reactable || (movieReactionsOpened$ | async)"
            >
              <ng-container *ngFor="let reaction of movieReactions$ | async">
                <div
                  (click)="clickReaction(status.pollItem, reaction.label)"
                  class="reaction cursor-pointer"
                  [matTooltipPosition]="'below'"
                  [matTooltip]="reaction.tooltip"
                  [class.reacted]="reaction.reacted"
                  [class.unreacted]="reaction.count === 0"
                >
                  <i
                    class="fa-solid user-select-none"
                    [class.has-votes]="reaction.count > 0"
                    [style.color]="
                      reaction.count > 0 ? reaction.color : '#fefefe'
                    "
                    [ngClass]="reaction.label"
                  ></i>
                  <div class="count" [class.has-votes]="reaction.count > 0">
                    {{ reaction.count > 0 ? reaction.count : "" }}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div
            *ngIf="status.movie"
            class="content"
            (click)="showMovie(status.movie)"
          >
            <div class="movie-info">
              <span
                class="creator"
                *ngIf="showCreator && status.pollItem?.creator?.name"
                >{{ status.pollItem.creator.name }}</span
              >
              <div class="title">
                {{ status.movie.title }}
                <ng-container
                  *ngIf="status.movie.title !== status.movie.originalTitle"
                  ><span class="original-title"
                    >({{ status.movie.originalTitle }})</span
                  ></ng-container
                >
              </div>
              <div class="subtitle">
                <div class="basics">
                  <span class="year">{{
                    status.movie.releaseDate | date : "yyyy"
                  }}</span
                  ><span class="separator">|</span
                  ><span class="runtime">{{ status.movie.runtime }} min</span>
                </div>
                <div class="extra-info">
                  <div class="director">{{ getDirector(status.movie) }}</div>
                  <div class="country-of-origin">
                    {{ getProductionCountries(status.movie) }}
                  </div>
                </div>

                <!-- <div class="movie-ratings">
                  <div
                    class="movie-rating tmdb cursor-pointer"
                    (click)="openTmdb(status.movie.id)"
                    matTooltip="TMDb score"
                  >
                    <span class="score">{{
                      status.movie.tmdbRating | number : "1.1-1"
                    }}</span
                    ><mat-icon class="md-16">launch</mat-icon>
                  </div>
                  <div
                    *ngIf="status.movie.imdbRating"
                    (click)="openImdb(status.movie.imdbId)"
                    class="movie-rating imdb cursor-pointer"
                    matTooltip="IMDb score"
                  >
                    <span class="score">{{
                      status.movie.imdbRating?.split("/")[0]
                    }}</span
                    ><mat-icon class="md-16">launch</mat-icon>
                  </div>
                  <div
                    *ngIf="status.movie.metaRating"
                    class="movie-rating meta-critic"
                    [ngClass]="getMetaBgColor(status.movie.metaRating)"
                    matTooltip="Metacritic score"
                  >
                    <span class="score">{{
                      status.movie.metaRating | number : "1.0"
                    }}</span>
                  </div>
                  <div
                    *ngIf="status.movie.rottenRating"
                    class="movie-rating rotten-tomatoes"
                    matTooltip="RottenTomatoes score"
                  >
                    <span class="score">{{ status.movie.rottenRating }}</span>
                  </div>
                </div> -->
                <div class="overview-info">
                  <div class="tagline" *ngIf="status.movie.tagline?.length > 0">
                    "{{ status.movie.tagline }}"
                  </div>
                  <div class="overview">
                    {{ status.movie.overview }}
                  </div>
                </div>
              </div>
            </div>
            <div class="show-more cursor-pointer use-select-none">
              Show more info
            </div>
          </div>
          <div class="controls" *ngIf="removable || voteable">
            <div class="top-row-controls">
              <mat-icon
                *ngIf="status.pollItem?.description?.length > 0"
                class="has-description cursor-pointer"
                (click)="shortened = false"
                style="user-select: none"
                >sticky_note_2</mat-icon
              >

              <mat-icon
                *ngIf="removable"
                class="close cursor-pointer"
                (click)="remove(status.pollItem)"
                >close</mat-icon
              >
            </div>
            <voter
              *ngIf="voteable"
              [pollItem]="status.pollItem"
              [hasVoted]="hasVoted"
              (onClick)="clicked(status.pollItem)"
            ></voter>
          </div>
        </div>
      </div>
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #loader>
  <spinner size="s"></spinner>
</ng-template>
