@let movie = movie$ | async;
@let pollItem = pollItem$ | async;
@let isPollItemOwner = pollItemOwner$ | async;
@let movieReactionWatched = movieReactionWatched$ | async;

@if (
moviePollItemData || (pollItem && (pollItem?.moviePollItemData ||
movie))) {
@let movie = moviePollItemData || pollItem?.moviePollItemData || movie;  
<!-- <div class="bg" [style.width.%]="progressBarWidth"></div> -->
@if ( (pollItem.visible !== false || isPollOwner) && ((useSeenReaction && movieReactionWatched) ? !hideWatchedMovies : true)) { 
<mat-card
  class="option-card"
  [class.draggable]="draggable"
  [class.condensed-view]="condensedView"
  [class.not-voteable]="!voteable"
  [class.watched]="useSeenReaction && movieReactionWatched"
  [class.selected]="pollItem.selected"
  [class.hidden-poll-owner]="pollItem.visible === false && isPollOwner"
>
  <div class="flex-column flex-grow">
    <div class="flex flex-grow">
      @if (orderNumber) {
      <div class="order-number">{{ orderNumber }}</div>
      }
      <div
        class="poster-container"
        (mouseenter)="movieReactionsOpened$.next(true)"
        (mouseleave)="movieReactionsOpened$.next(false)"
        (clickOutside)="movieReactionsOpened$.next(false)"
        (click)="movieReactionsOpened$.next(true)"
        style="margin-bottom: auto"
      >
        <poster
          [movieId]="pollItem?.movieId"
          [posterPath]="movie.posterPath"
          [rating]="movie?.tmdbRating"
          [size]="condensedView ? 'xxs' : 's'"
          [showWatchlistMarker]="true"
          [allowFullscreen]="true"
        ></poster>
        @if (movieReactions$ | async; as movieReactions) { @if (!creating &&
        movieReactions.length > 0 && useSeenReaction) {
        <div
          class="movie-reactions"
          [class.open]="!reactable || (movieReactionsOpened$ | async)"
        >
          @for (reaction of movieReactions; track reaction.label) {
          <div
            (click)="!draggable ? clickReaction(reaction.label) : void 0"
            class="reaction cursor-pointer"
            [matTooltipPosition]="'below'"
            [matTooltip]="reaction.tooltip"
            [class.reacted]="reaction.reacted"
            [class.unreacted]="reaction.count === 0"
          >
            <mat-icon
              class="user-select-none"
              [class.has-votes]="reaction.count > 0"
              [style.color]="reaction.count > 0 ? reaction.color : '#fefefe'"
              >{{ reaction.label }}</mat-icon
            >
            <div class="count" [class.has-votes]="reaction.count > 0">
              {{ reaction.count > 0 ? reaction.count : "" }}
            </div>
          </div>
          }
        </div>
        } }
      </div>
      <div
        class="content"
        (click)="!draggable ? showMovie(pollItem.moviePollItemData) : void 0"
      >
        <div class="movie-info">
          @if (showCreator && pollItem?.creator?.name) {
          <div class="creator truncate">{{ pollItem.creator.name }}</div>
          }
          <h1
            class="title"
            [class.truncate]="condensedView"
            [class.not-voteable]="!voteable"
          >
          {{ movie?.title }}
            @if (movie?.orginal_title ? movie?.original_title !== movie?.title : movie?.originalTitle ? movie?.originalTitle !== movie?.title : false ) {            <br />
            <div
              class="original-title"
              [class.truncate]="condensedView"
              [class.not-voteable]="!voteable"
            >
              ({{ (movie.original_title  || movie?.originalTitle || '') | hyphen }})
            </div>
            }
          </h1>
          <div class="subtitle">
            <div class="basics">
              <span class="year">{{ (movie?.release_date || movie?.releaseDate) | date : "y" }}</span
              ><span class="separator">|</span
              ><span class="runtime">{{ movie?.runtime || '∞ ' }} min</span>
            </div>
            <div
              class="extra-info"
              [class.truncate]="condensedView"
              [class.not-voteable]="!voteable"
            >
              <span class="director">
                {{ movie?.director || (movie | credit : "directors") }}
              </span>
              <span class="country-of-origin">
                {{
                  movie?.productionCountry || (movie | productionCountry : "1")
                }}
              </span>
            </div>
            <div class="overview-info" [class.not-voteable]="!voteable">
              @if (movie?.tagline) {
              <div class="tagline">"{{ movie?.tagline }}"</div>
              }
              <div class="overview">
                {{ movie?.overview | hyphen }}
              </div>
            </div>
          </div>
        </div>
        <button mat-button class="show-more">Show more info</button>
      </div>
      @if (removable || voteable) {
      <div class="controls">
        <div class="top-row-controls" [class.not-voteable]="!voteable">
          @if (pollItem?.description?.length > 0) {
          <mat-icon
            class="has-description cursor-pointer"
            (click)="shortened = false"
            style="user-select: none"
            >mark_unread_chat_alt</mat-icon
          >
          }
          @if (isPollItemOwner || isPollOwner) {
            <button mat-icon-button [matMenuTriggerFor]="pollOptions" aria-label="Poll options menu" class="show-more-button">
              <mat-icon>{{ condensedView ? 'more_horiz' : 'more_vert' }}</mat-icon>
            </button>
            <mat-menu #pollOptions="matMenu">
              @if (isPollOwner) {
                <button mat-menu-item (click)="clickToggleSelected(pollItem)" [disabled]="pollItem.visible === false">
                  <mat-icon>{{ !pollItem.selected ? 'verified' : 'restart_alt' }}</mat-icon>
                  <span>{{ !pollItem.selected ? 'Select' : 'Unselect' }}</span>
                </button>
              }
              @if (isPollOwner) {
                <button mat-menu-item (click)="clickToggleVisibile(pollItem)" [disabled]="pollItem.selected === true">
                  <mat-icon>{{ pollItem.visible === false ? 'visibility' :  'visibility_off' }}</mat-icon>
                  <span>{{ pollItem.visible === false ? 'Show poll option' : 'Hide poll option' }}</span>
                </button>
              }
              @if (isPollItemOwner || isPollOwner) {
                <hr/>
              }

              @if (isPollOwner) {
                <button mat-menu-item (click)="openAddItems()">
                  <mat-icon>add_circle</mat-icon>
                  <span>Add new poll item</span>
                </button>
              }
  
              @if (isPollItemOwner) {
                <button mat-menu-item  
                  (click)="remove(pollItem, isPollItemOwner)">
                  <mat-icon>delete</mat-icon>
                  <span>Remove</span>
                </button>
              }
            </mat-menu>
          }
        </div>
        @if (voteable) {
        <voter
          [pollItem]="pollItem"
          [hasVoted]="hasVoted"
          [size]="condensedView ? 's' : 'm'"
          [locked]="locked"
          (onClick)="clicked(pollItem)"
        ></voter>
        }
      </div>
      }
    </div>
  </div>
  @if (pollItem.visible === false) {
    <div class="hidden-text"><mat-icon>visibility_off</mat-icon> Poll item hidden</div>
  }
  @if (pollItem.selected === true) {
    <div class="selected-text"><span class="icon">👑</span>Selected!</div>
  }
</mat-card>
} } @else {
<div class="loading movie-poll">
  <mat-card class="poll-item-loader-card">
    <div class="flex movie-content">
      <poster size="m"></poster>
      <div class="flex-column movie-details">
        <div class="loading-sub-text"></div>
        <div class="loading-main-text"></div>
        <div class="loading-main-text"></div>
        <div class="loading-main-text short"></div>
      </div>
      <div class="loading-btn"></div>
    </div>
  </mat-card>
</div>
} 
