@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "Product Sans";
  src: url("assets/fonts/Product-Sans-Regular.ttf");
}

@font-face {
  font-family: "Product Sans Bold";
  src: url("assets/fonts/Product-Sans-Bold.ttf");
}

$light-bg-image: linear-gradient(-20deg, #d9c6ee 0%, #5987e5 100%);
$dark-bg-image: linear-gradient(to right, #434343 0%, black 100%);

html {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: $light-bg-image;
  background-size: cover;
  background-color: #d9c6ee;

  // Manual dark theme corrections
  &.dark-theme {
    background-image: $dark-bg-image;
    background-color: black;

    .spinner-bg {
      background-image: $dark-bg-image;
    }

    .option-card {
      & .bg {
        background-color: #313131 !important;
      }
    }

    .footer,
    .disclaimer {
      color: #ccc;
    }

    .available-reactions .add-btn {
      color: #8f8f8f;
    }
  }
}

body {
  font-family: "Product Sans";

  background-repeat: no-repeat;
  background-attachment: fixed;

  overscroll-behavior-y: none;
}

html,
body {
  // min-height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  padding-top: 8px;
}

h1,
h2,
h3,
h4,
label {
  font-family: "Product Sans Bold";
}

mat-card {
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}

mat-card.option-card {
  font-family: "Product Sans";
  font-size: 1.2em;
  padding-top: 12px;
  padding-bottom: 12px;

  position: relative;
  padding: 10px 16px;

  h2 {
    margin-bottom: 0;
  }
}

.option-card {
  transition: all 1s ease;
}

.flip-list-move {
  transition: transform 1s;
}

.mat-button,
.mat-raised-button {
  font-family: "Product Sans" !important;
  font-size: 20px;
}

.login-card {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.loader {
  display: flex;
  // height: 50vh;
  justify-content: center;
  align-items: center;
}

.disclaimer {
  text-align: center;
  padding-top: 35px;
  font-size: 0.7em;
  opacity: 0.7;
}

#intial-loader.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  --from: 30px;
  --to: 100px;
  --size: 16px;
  --time: 7s;
  --count: 51; /* up to 100 */
  --turns: 6;

  .circle {
    position: absolute;

    --delay: calc(var(--time) / var(--count) * -1 * var(--i));
    rotate: calc(var(--turns) * 1turn / var(--count) * var(--i));

    animation: circle var(--time) var(--delay) ease-in-out infinite;
  }
  .circle:nth-child(n + 51) {
    display: none;
  }
  .circle::before {
    content: "";
    display: block;
    width: var(--size);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    transform-origin: center center;

    animation: circleSize var(--time) var(--delay) ease-in-out infinite;
  }

  /* rainbow */
  .rainbow .circle::before {
    background-color: hsl(
      calc(1turn / (var(--count) / var(--turns)) * var(--i)) 100% 70%
    );
  }

  /* animations */
  @keyframes circle {
    from {
      transform: translate(0, var(--from));
    }
    to {
      transform: translate(0, var(--to));
    }
  }
  @keyframes circleSize {
    0%,
    100% {
      transform: scale(0);
    }
    25%,
    50% {
      transform: scale(1);
    }
  }
}

.spinner-bg {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $light-bg-image;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.cursor-pointer {
  cursor: pointer;
}

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}

.md-16 {
  width: 14px !important;
  height: 14px !important;
  font-size: 13px !important;
}

.creator {
  font-size: 11px;
  font-style: italic;
  position: absolute;
  top: 20px;
  right: 6px;
  color: #ccc;

  &::before {
    content: "create";
    font-family: "Material Icons";
    padding-right: 3px;
  }
}

.top-row-controls {
  display: flex;
  position: absolute;
  align-items: center;
  top: 5px;
  right: 15px;
  height: 24px;

  &.regular {
    right: 70px;
    top: -10px;
  }
}

.normal-margin {
  margin-bottom: 10px;
}

.with-launch-icon {
  background-image: linear-gradient(to right, #00dbde96 0%, #fc00ff36 100%);
  border-radius: 9999px;
  color: white !important;
  padding: 2px 7px;

  &::after {
    content: "launch";
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    margin-left: 5px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: white;
  }
}

.tech-details {
  font-size: 0.8em;
  color: darkgrey;
}

.flex-grow {
  flex-grow: 1;
}
