/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Product Sans";
    src: url("assets/fonts/Product-Sans-Regular.ttf");
}

@font-face {
    font-family: "Product Sans Bold";
    src: url("assets/fonts/Product-Sans-Bold.ttf");
}

$light-bg-image: linear-gradient(-225deg,#dfffcd 0,#90f9c4 48%,#79f4bc 100%);
$dark-bg-image: linear-gradient(to right, #434343 0%, black 100%);

html {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: $light-bg-image;
  background-size: cover;
  background-color: #79f4bc;

  // Manual dark theme corrections
  &.dark-theme {
    background-image: $dark-bg-image;
    background-color: black;

    .spinner-bg {
      background-image: $dark-bg-image;
    }

    .option-card {
      & .bg {
        background-color: #313131 !important;
      }
    }

    .footer, .disclaimer {
      color: #ccc;
    }
  }
}

body {
  font-family: 'Product Sans';

  background-repeat: no-repeat;
  background-attachment: fixed;

  overscroll-behavior-y: none;
}

html, body { min-height: 100%; }

h1, h2, h3, h4, label {
    font-family: 'Product Sans Bold';
}

.mat-card.option-card {
    font-family: 'Product Sans';
    font-size: 1.2em;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 10px;

    position: relative;
    padding: 10px 16px;

    h2 {
        margin-bottom: 0;
    }
}

.option-card {
  transition: all 1s ease;
}

.flip-list-move {
  transition: transform 1s;
}

.mat-button, .mat-raised-button {
    font-family: 'Product Sans' !important;
    font-size: 20px;
}

.login-card {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.loader {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.disclaimer {
  text-align: center;
  padding-top: 35px;
  font-size: 0.7em;
  opacity: 0.7;
}

.spinner {
  height: 5vh;
  width: 5vh;
  border: 6px solid rgba(255, 255, 255, 0.6);
  border-top-color: rgba(255, 255, 255, 1.0);
  border-radius: 100%;
  animation: rotation 0.6s infinite linear 0.25s;

  /* the opacity is used to lazyload the spinner, see animation delay */
  opacity: 0;
}

.spinner-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: $light-bg-image;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}

$max-width: 556px;

:host {
    @media screen and (min-width: $max-width) {
        .page-container {
            width: calc(556px - 16px);
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .spinner-bg {
          right: 50%;
          transform: translate(50%,0);
        }
    }
}