@import "@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "Product Sans";
  src: url("assets/fonts/Product-Sans-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Product Sans Bold";
  src: url("assets/fonts/Product-Sans-Bold.ttf");
  font-display: swap;
}

$light-bg-image: linear-gradient(-20deg, #d9c6ee 0%, #5987e5 100%);
$dark-bg-image: linear-gradient(to right, #434343 0%, black 100%);
$dark-bg-color: rgb(50, 50, 50);

html {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: $light-bg-image;
  background-size: cover;
  background-color: #d9c6ee;
  --mat-slide-toggle-selected-with-icon-handle-horizontal-margin: 0 !important;
}

body {
  font-family: "Product Sans";

  background-repeat: no-repeat;
  background-attachment: fixed;

  overscroll-behavior-y: none;
}

html,
body {
  // min-height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  padding-top: 8px;
}

h1,
h2,
h3,
h4,
label,
strong,
b {
  font-family: "Product Sans Bold";
}

mat-card {
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}

mat-card.option-card {
  font-size: 1.2em;
  padding-top: 12px;
  padding-bottom: 12px;

  position: relative;
  padding: 10px 16px;

  h2 {
    margin-bottom: 0;
  }
}

.button.google {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;

  white-space: nowrap;
  padding: 10px 20px;

  position: relative;
  border: none;
  margin: 1rem;
  border-radius: 99999px;
  font-weight: 700;
  transition: 0.2s all;
  transition-timing-function: ease;

  background-color: #fff;
  box-shadow: 0 3px 20px rgba(39, 68, 74, 0.2);
  line-height: 2rem;
  margin: 0 auto;

  & > img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
  }
  &:hover {
    box-shadow: 0 1px 5px rgba(39, 68, 74, 0.2);
    transform: translatey(3px);
  }
  &:focus {
    outline: none;
  }
}

.option-card {
  transition: all 1s ease;
}

.flip-list-move {
  transition: transform 1s;
}

.mat-button,
.mat-raised-button {
  font-size: 20px;
}

.login-card {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.loader {
  display: flex;
  // height: 50vh;
  justify-content: center;
  align-items: center;
}

.disclaimer {
  text-align: center;
  padding-top: 35px;
  font-size: 0.7em;
  opacity: 0.7;
}

#intial-loader.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  --from: 30px;
  --to: 100px;
  --size: 16px;
  --time: 7s;
  --count: 51; /* up to 100 */
  --turns: 6;

  .circle {
    position: absolute;

    --delay: calc(var(--time) / var(--count) * -1 * var(--i));
    rotate: calc(var(--turns) * 1turn / var(--count) * var(--i));

    animation: circle var(--time) var(--delay) ease-in-out infinite;
  }
  .circle:nth-child(n + 51) {
    display: none;
  }
  .circle::before {
    content: "";
    display: block;
    width: var(--size);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    transform-origin: center center;

    animation: circleSize var(--time) var(--delay) ease-in-out infinite;
  }

  /* rainbow */
  .rainbow .circle::before {
    background-color: hsl(
      calc(1turn / (var(--count) / var(--turns)) * var(--i)) 100% 70%
    );
  }

  /* animations */
  @keyframes circle {
    from {
      transform: translate(0, var(--from));
    }
    to {
      transform: translate(0, var(--to));
    }
  }
  @keyframes circleSize {
    0%,
    100% {
      transform: scale(0);
    }
    25%,
    50% {
      transform: scale(1);
    }
  }
}

.spinner-bg {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $light-bg-image;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.cursor-pointer {
  cursor: pointer;
}

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}

.md-16 {
  width: 14px !important;
  height: 14px !important;
  font-size: 13px !important;
}

.creator {
  font-size: 0.6em;
  font-style: italic;
  position: absolute;
  top: 20px;
  right: 6px;
  color: #ccc;
  user-select: none;

  &::before {
    content: "create";
    font-family: "Material Icons";
    padding-right: 3px;
  }
}

.top-row-controls {
  display: flex;
  position: absolute;
  align-items: center;
  top: 5px;
  right: 15px;
  height: 24px;

  &.regular {
    right: 70px;
    top: -10px;
  }
}

.normal-margin {
  margin-bottom: 10px;
}

.with-launch-icon {
  background-image: linear-gradient(to right, #00dbde96 0%, #fc00ff36 100%);
  border-radius: 9999px;
  color: white !important;
  padding: 2px 7px;

  &::after {
    content: "launch";
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    margin-left: 5px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: white;
  }
}

.tech-details {
  font-size: 0.8em;
  color: darkgrey;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.recent-movie-menu {
  mat-icon {
    background-image: linear-gradient(
      52deg,
      #ac32e4a8 0%,
      #7918f2d4 51%,
      #7092e6e6 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.poster {
  user-select: none;
}

.loading-image {
  height: 190px;
  background-size: 250px;
  -webkit-animation: shine-loading-image 2s infinite ease-out;
  animation: shine-loading-image 2s infinite ease-out;
}

.loading-movie-score {
  border-radius: 100%;
  background-size: 250px;
  -webkit-animation: shine-loading-image 2s infinite ease-out;
  animation: shine-loading-image 2s infinite ease-out;

  &.size-s {
    width: 32px;
    height: 32px;
  }
  &.size-m {
    width: 39px;
    height: 39px;
  }
  &.size-xs {
    width: 24px;
    height: 24px;
  }
}

.loading-content {
  background: #f7f7f7;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loading-text-container {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.loading-main-text {
  height: 10px;
  width: 65%;
  margin-bottom: 10px;
  background: #ececec;
  background-size: 250px;
  border-radius: 10px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.loading-background {
  min-height: 150px;
  width: 100%;
  margin-bottom: 10px;
  background: #686868;
  background-size: 250px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.loading-sub-text {
  height: 10px;
  width: 50%;
  background: #ececec;
  background-size: 250px;
  border-radius: 10px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.loading-btn {
  width: 60px;
  height: 25px;
  background: #ececec;
  background-size: 250px;
  border-radius: 3px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.top-items-center + .loading.movie-poll,
.top-items-center + movie-poll-item > .loading.movie-poll {
  padding-top: 12px;
}

.loading.movie-poll {
  &.max-height {
    overflow: hidden;
    height: calc(100vh - 64px);
    background-color: white;
  }

  .poll-header {
    margin-left: 18px;

    .loading-sub-text {
      margin: 15px 0px 30px -5px;
      height: 29px;
    }

    .loading-btn {
      margin-top: 35px;
      height: 29px;
      width: 29px;
      align-self: flex-start;
      margin-right: -8px;
    }
  }

  mat-card.poll-container {
    box-shadow: none;
  }

  mat-card.poll-item-loader-card {
    // height: 143px;
    margin: 0 0 30px 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: calc(min(27vw, 154px) + 12px);

    @media (min-width: 500px) {
      padding-left: calc(min(27vw, 154px) + 12px);
    }

    box-shadow: none;
    background: #f5f5f5;
    padding-right: 34px;
    box-shadow: none;

    width: calc(100% - 18px);

    .loader {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .flex.movie-content {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }

  .flex-column {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &.movie-details {
      margin-left: -33px;
    }
  }

  .loading-main-text.desktop {
    display: none;

    @media (min-width: 500px) {
      display: block;
      height: 30px !important;
      width: 80% !important;
      margin-bottom: 43px;
    }
  }

  .loading-image.poster-mockup {
    $posterWidth: min(27vw, 154px);
    $posterHeight: calc(3 / 2 * $posterWidth);

    width: $posterWidth;
    height: $posterHeight;
    position: absolute;
    top: -19px;
    left: -22px;
    border-radius: 6px;
  }

  .loading-sub-text {
    height: 24px;
    margin: 15px 0px 15px;
    width: 75%;
  }

  .loading-main-text {
    height: 18px;
    width: 90%;
  }

  .loading-main-text.short {
    height: 15px;
    width: 50%;
  }

  .loading-btn {
    height: 60px;
    width: 50px;
    align-self: center;
    border-radius: 5px;
    position: relative;
    bottom: 10px;
  }

  .loading-movie-score {
    position: absolute;
    z-index: 3;
    top: -17px;
    right: -13px;
  }
}

.loading-image.poster-mockup {
  background-color: #e6e6e2;
  background-image: url("/assets/img/poster-placeholder.gif") !important;
  background-size: cover;
  background-position: left !important;
}

.load-button {
  position: absolute;
  z-index: 100;
}

.loading-image,
.loading-movie-score,
.loading-main-text,
.loading-sub-text,
.loading-background,
.loading-btn {
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
}

.reveal {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in-out {
  &.ng-lazyloaded {
    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    // background-color: black;
  }
}

:host {
  background-color: white;
  min-height: 100vh;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}

@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}

@-webkit-keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}

@keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}

.vhs-loader {
  width: 168px;
  margin: auto;
  padding-bottom: 200px;
}

.mdc-list-item__primary-text {
  padding: 7px 0;
  width: 100%;
}

html {
  --mat-form-field-filled-active-indicator-color: #b5b5f7 !important;
  --mat-form-field-filled-active-indicator-height: 2px !important;
  // Manual dark theme corrections
  &.dark-theme {
    background: rgb(15, 15, 15);
    --mat-card-elevated-container-color: #{$dark-bg-color};

    .spinner-bg {
      background-image: $dark-bg-image;
    }

    .option-card {
      & .bg {
        background-color: #313131 !important;
      }
    }

    .footer,
    .disclaimer {
      color: #ccc;
    }

    .available-reactions .add-btn {
      color: #8f8f8f;
    }

    app-about {
      color: #dbdbdb;
    }

    movie-poll-item .option-card {
      background-color: #555 !important;
      color: #dbdbdb;

      @media (min-width: 500px) {
        .overview-info::before {
          background: linear-gradient(transparent 0%, #555 90%) !important;
        }
      }
    }

    app-poll {
      color: #dbdbdb !important;

      .mat-mdc-select-min-line {
        position: relative;
        bottom: 6px;
      }
    }

    button-gradient {
      .gradient-button {
        color: #dbdbdb;

        &::before {
          background-color: #424242 !important;
        }
      }
    }

    .loading-image,
    .loading-movie-score,
    .loading-main-text,
    .loading-sub-text,
    .loading-btn {
      background-image: -webkit-linear-gradient(
        left,
        #363636 0px,
        #1e1e1e 40px,
        #363636 80px
      );
      background-image: -o-linear-gradient(
        left,
        #363636 0px,
        #1e1e1e 40px,
        #363636 80px
      );
      background-image: linear-gradient(
        90deg,
        #363636 0px,
        #1e1e1e 40px,
        #363636 80px
      );
    }

    .loading-sub-text,
    .loading-main-text {
      background-color: #363636;
    }

    .loading.movie-poll {
      &.max-height {
        background-color: #424242 !important;
      }

      mat-card.poll-item-loader-card {
        background: #363636;
      }
    }

    voter .voter-container {
      background-color: #646464 !important;

      .votes {
        color: #dbdbdb !important;
      }
    }

    app-landing,
    poll-management-component {
      color: #dbdbdb !important;
    }

    app-landing .recent-poll-container {
      background: linear-gradient(#{$dark-bg-color}, #{$dark-bg-color}) padding-box, linear-gradient( to right bottom, #aa70ea, #d9c6ee) border-box;
    }

    --mat-expansion-container-text-color: #dbdbdb;
    --mat-bottom-sheet-container-background-color: #424242 !important;
    --mat-bottom-sheet-container-text-color: #dbdbdb !important;
    --mat-form-field-filled-input-text-color: #dbdbdb !important;
    --mat-dialog-subhead-color: #dbdbdb !important;
    --mat-icon-button-icon-color: #dbdbdb;
    --mat-button-text-label-text-color: #dbdbdb;

    .mat-mdc-dialog-container {
      --mat-dialog-supporting-text-color: #dbdbdb !important;
      --mat-dialog-container-color: #424242 !important;
    }

    .mat-mdc-select {
      --mat-select-enabled-trigger-text-color: #dbdbdb;
    }

    .mat-mdc-dialog-actions {
      background-color: #424242 !important;
    }

    .mat-mdc-form-field-bottom-align {
      color: #dbdbdb;
    }

    .mdc-form-field {
      --mat-slide-toggle-label-text-color: #dbdbdb;
    }

    .mdc-text-field {
      --mat-form-field-filled-container-color: #535353;
      --mat-form-field-filled-input-text-placeholder-color: #dbdbdb;
      --mat-form-field-filled-label-text-color: #dbdbdb;
    }

    .draggable {
      background: repeating-linear-gradient(
        45deg,
        #393939,
        #393939 10px,
        rgba(68, 62, 75, 0.749) 10px,
        rgba(68, 62, 75, 0.749) 20px
      );
    }

    movie-dialog {
      mat-panel-title,
      .voter-list {
        color: #dbdbdb !important;
      }
      .curve-overflow {
        background-color: #424242 !important;
      }

      .dialog-content {
        background-color: #424242 !important;
      }

      .gradient-button:not(.has-voted) {
        background: linear-gradient(#424242, #424242) padding-box,
          linear-gradient(145deg, #8320e9, #36cddc) border-box !important;
        color: #dbdbdb !important;
      }

      button-gradient {
        .gradient-button {
          color: #8f8f8f;
        }
      }
    }

    app-share-dialog {
      background-color: #424242 !important;
      color: #dbdbdb !important;
    }
  }
}

.top-of-stack movie-dialog .dialog-content {
  z-index: 1111 !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-bottom-sheet-container {
  max-width: min(100vw, 650px) !important; // same as dialog
  min-width: min(100vw, 650px) !important;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
}


.bottomsheet-dark-theme {
  --mat-bottom-sheet-container-background-color: #1f272e;
  --mat-bottom-sheet-container-text-color: whitesmoke;
}

.selected-icon {
  color: #9aa6ea;
}
