@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$magenta-palette,
  ),
  typography: (
    brand-family: 'Product Sans',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));
