@use "@angular/material" as mat;
@use "./m3-theme.scss";

@include mat.elevation-classes();
@include mat.app-background();

html {
  // Apply the light theme by default
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.button-theme(m3-theme.$light-theme);

  // Theme doesn't work well with slide-toggle, override colors
  // See more: https://github.com/angular/components/issues/26818
  .mat-mdc-slide-toggle {
    --mat-slide-toggle-selected-handle-color: #836ce2 !important;
    --mat-slide-toggle-selected-pressed-handle-color: #836ce2 !important;
    --mat-slide-toggle-selected-pressed-state-layer-color: #836ce2 !important;
    --mat-slide-toggle-selected-hover-state-layer-color: #836ce2 !important;
    --mat-slide-toggle-selected-hover-handle-color: #836ce2 !important;
    --mat-slide-toggle-selected-focus-state-layer-color: #836ce2 !important;
    --mat-slide-toggle-selected-focus-handle-color: #836ce2 !important;
    --mat-slide-toggle-selected-track-color: #d9c6ee !important;
    --mat-slide-toggle-selected-pressed-track-color: #d9c6ee !important;
    --mat-slide-toggle-selected-hover-track-color: #d9c6ee !important;
    --mat-slide-toggle-selected-focus-track-color: #d9c6ee !important;
    --mat-slide-toggle-selected-icon-color: #fbf8fd;
    --mat-slide-toggle-track-height: 24px;
    --mat-slide-toggle-track-outline-color: #d9c6ee;
    --mat-slide-toggle-track-outline-width: 2px;
  }

  .mdc-button {
    --mat-button-text-container-shape: 5px;
    --mat-button-protected-container-shape: 5px;
  }

  .close-button {
    --mat-button-text-label-text-color: white;
    --mat-button-text-label-text-size: 12px;
    text-shadow: 0px 0px 6px #0000009c;
    z-index: 20;
    position: fixed;
  }

  .show-more {
    --mat-button-text-label-text-size: 10px;
    --mat-button-text-label-text-color: #717171;
    text-transform: uppercase;
  }

  .mat-mdc-card {
    --mat-card-elevated-container-shape: 5px;
  }

  .mat-mdc-dialog-surface {
    --mat-dialog-container-shape: 5px;
  }

  .mat-mdc-menu-panel {
    --mat-menu-container-color: #f5eefc;
  }
}

:root {
  @include mat.all-component-themes(m3-theme.$light-theme);
  @include mat.system-level-colors(m3-theme.$light-theme);
  @include mat.system-level-typography(m3-theme.$light-theme);
}
