.poll {
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  margin-bottom: 10px;

  & > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    margin: 0;
    word-break: break-word;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;

    .mat-mdc-icon-button.mat-mdc-button-base {
      padding: 0;
      --mat-icon-button-state-layer-size: 40px;
      padding: 25px 0;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  .poll-options {
    width: 100%;
    font-size: 0.9em;
    padding-left: 1px;
    padding-right: 10px;

    .poll-option {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .voters {
        display: flex;
        align-items: center;

        .count {
          padding: 3px;
        }

        .material-icons {
          font-size: 20px;
          line-height: 23px;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
    }
  }
}

.title {
  font-family: "Product Sans";
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;

  & > h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.secondary {
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  color: #767676;
}

.loading {
  &.max-height {
    overflow: hidden;
    height: calc(100vh - 64px);
  }

  mat-card {
    margin-bottom: 10px;
  }
  .title-row {
    align-items: center;
    margin-right: -10px;
    margin-bottom: 10px;

    .loading-sub-text {
      height: 29px;
      margin-right: auto;
      width: 150px;
    }

    .loading-btn {
      margin: 8px;
      height: 29px;
      width: 29px;
    }
  }

  .poll-row {
    .loading-main-text {
      height: 20px;
    }

    .loading-btn {
      height: 20px;
      width: 12px;
      margin-left: auto;
    }
    .loading-btn:last-child {
      height: 20px;
      width: 20px;
      margin-left: 3px;
    }
  }
}

.button.google {
  margin-top: 50px;
}

.recent-polls {
  margin-bottom: 25px;

  .recent-poll {
    padding: 0;
    margin: -5px 0;
  }
}

.favorite-polls {
  margin-bottom: 5px;

  .favorite-poll {
    padding: 0;
    margin: -5px 0;
  }
}
