.watch-providers-container {
  display: flex;
  flex-direction: column;

  .scrollable-container {
    flex-grow: 1;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }

  .watch-provider {
    transition: opacity 0.2s ease-in-out;
    display: flex;
    align-items: center;

    &-image {
      height: 35px;
      width: 35px;
      min-width: 35px;
      background-size: contain;
      border-radius: 20%;
      margin: 8px 8px 8px 7px;
    }

    mat-checkbox {
      //   transform: scale(1.9);
    }
  }
}

.save-btn {
  margin: 0 auto;
}

.relative-container {
  position: relative;
}

.mat-mdc-dialog-actions {
  justify-content: space-between;
}