<h1 mat-dialog-title>Login or use a nickname</h1>
<div class="dialog-content" mat-dialog-content>
  <p class="info">
    To manage your polls you need to login with Google. No worries, you can
    still vote and react to polls withouth signing in. With login it's just
    easier and you can create and manage your own polls! 😉
  </p>
  <p class="tech-details">
    Poll-a-Lot uses Firebase Authentication and only you forename will be stored
    to be display in the app. Industry standard authentication is used so that
    your login credentials will never be passed or saved to Poll-a-Lot.
    <a target="_blank" href="https://firebase.google.com/docs/auth"
      >Read more!</a
    >
  </p>
  <button class="button google" (click)="login()">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
      class="flex self-center pr2"
    />
    Login with Google
  </button>
  <div mat-dialog-content>
    <p>Use nickname:</p>
    <mat-form-field>
      <input
        matInput
        placeholder="Nickname"
        [ngModel]="data.nickname"
        (ngModelChange)="trim($event)"
      />
    </mat-form-field>
    <div mat-dialog-actions>
      <button
        class="close-button"
        mat-button
        [disabled]="data.nickname?.length < 2"
        [mat-dialog-close]="data.nickname"
        aria-label="Close"
      >
        Save
      </button>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      class="close-button"
      mat-button
      [mat-dialog-close]="data.nickname"
      aria-label="Close"
    >
      Close
    </button>
  </div>
</div>
