<h1 mat-dialog-title>Login or use a nickname</h1>
<div class="dialog-content" mat-dialog-content>
  @if (data.requireStrongAuth) {
    <p>
      <b>You need to login with Google to access this feature!</b>
    </p>
  }
  <p class="info">
    To create polls and manage your polls and watchlist, you need to login with
    Google. No worries, you can still vote and react to polls withouth signing
    in. With login it's just easier and give you full control poll-a-lot
    experience! 😉
  </p>
  <p class="tech-details">
    Poll-a-Lot uses Firebase Authentication and only your display forename will
    be stored and shown in the app.
    <a target="_blank" href="https://firebase.google.com/docs/auth"
      >Read more!</a
      >
    </p>
    <login-button (loginClicked)="login()"></login-button>
    <div class="login-with-nickname">
      @if (data.requireStrongAuth === false) {
        <p>.. or use a nickname:</p>
        <mat-form-field>
          <input
            matInput
            placeholder="Nickname"
            [ngModel]="data.nickname"
            (ngModelChange)="trim($event)"
            />
        </mat-form-field>
        @if (data.requireStrongAuth === false) {
          <div
            class="save-button-container"
            >
            <button
              mat-button
              [disabled]="data.nickname?.length < 2"
              [mat-dialog-close]="data.nickname"
              aria-label="Save"
              >
              Save
            </button>
          </div>
        }
      }
    </div>
  </div>
  <div mat-dialog-actions class="flex">
    <button
      class="close"
      mat-button
      [mat-dialog-close]="data.nickname"
      aria-label="Close"
      >
      Close
    </button>
  </div>
