<h1 mat-dialog-title>Login or use a nickname</h1>
<p class="info">To manage you polls you need to login with Google. Not worries, you can still create, share and vote /wo signing in. With login it's just easier!</p>
<button mat-raised-button cdkFocusInitial (click)="login()" color="primary" aria-label="Login">Login with Google</button>
<div mat-dialog-content>
  <p>Use nickname:</p>
  <mat-form-field>
    <input matInput placeholder="Nickname" [(ngModel)]="data.nickname">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.nickname" aria-label="Ok">Ok</button>
</div>